/* Style Sheet created by ImportPDF 1.0 */

BODY { font-family:Arial; background-color:#ffffff; font-size:12.00pt; padding-left:0pt;  }

DIV { font-size:12.00pt; padding:0pt; margin:0pt;  }

P { margin:0; font-size:12.00pt;  }

OL { margin-top:0px; margin-bottom:0px;  }

UL { margin-top:0px; margin-bottom:0px;  }

span.PdfCharStyle0 { font-family:'Arial'  , Helvetica, sans-serif; font-size:10pt; font-weight:normal; color:#000000; x-used-count:9;  }

span.PdfCharStyle3 { font-family:monospace; font-size:54pt; font-weight:bold; color:#000000; x-used-count:1;  }

span.PdfCharStyle4 { font-family:'Arial'  , Helvetica, sans-serif; font-size:10pt; font-weight:bold; color:#000000; x-used-count:7;  }

span.PdfCharStyle6 { font-family:'Arial'  , Helvetica, sans-serif; font-size:10pt; font-weight:normal; color:#0000ff; x-used-count:3;  }

span.PdfCharStyle7 { font-family:'Arial'  , Helvetica, sans-serif; font-size:11pt; font-weight:normal; color:#000000; x-used-count:1;  }

span.PdfCharStyle8 { font-family:'Arial'  , Helvetica, sans-serif; font-size:10pt; font-weight:bold; color:#0000ff; x-used-count:1;  }

p.PdfParaStyle01 { margin-top:110px; margin-left:70px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:10pt; font-weight:normal; color:#000000; x-used-count:1;  }

p.PdfParaStyle02 { margin-top:50px; margin-left:0px; margin-right:0px; text-indent:0px; font-family:'itcavantgardegothic'   , itcavantgardegothic, sans-serif; font-size:16pt; font-weight:normal; color:#000000; x-used-count:1;  }

p.PdfParaStyle03 { margin-top:80px; margin-left:0px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:12pt; font-weight:bold; color:#000000; x-used-count:1;  }

p.PdfParaStyle04 { margin-top:10px; margin-left:0px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:12pt; font-weight:bold; color:#000000; x-used-count:1;  }

p.PdfParaStyle05 { margin-top:50px; margin-left:0px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:10pt; font-weight:bold; color:#000000; x-used-count:1;  }

p.PdfParaStyle06 { margin-top:0px; margin-left:20px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:10pt; font-weight:bold; color:#000000; x-used-count:1;  }

p.PdfParaStyle07 { margin-top:30px; margin-left:20px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:10pt; font-weight:bold; color:#000000; x-used-count:2;  }

p.PdfParaStyle08 { margin-top:0px; margin-left:0px; margin-right:0px; text-indent:0px; font-family:monospace; font-size:54pt; font-weight:bold; color:#000000; x-used-count:1;  }

p.PdfParaStyle09 { margin-top:10px; margin-left:0px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:10pt; font-weight:bold; color:#000000; x-used-count:7;  }

p.PdfParaStyle10 { margin-top:10px; margin-left:10px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:10pt; font-weight:normal; color:#000000; x-used-count:6;  }

p.PdfParaStyle11 { margin-top:10px; margin-left:20px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:10pt; font-weight:bold; color:#000000; x-used-count:1;  }

p.PdfParaStyle12 { margin-top:60px; margin-left:0px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:12pt; font-weight:bold; color:#000000; x-used-count:1;  }

p.PdfParaStyle13 { margin-top:420px; margin-left:650px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:10pt; font-weight:normal; color:#000000; x-used-count:1;  }

p.PdfParaStyle14 { margin-top:0px; margin-left:0px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:12pt; font-weight:bold; color:#858585; x-used-count:5;  }

p.PdfParaStyle15 { margin-top:10px; margin-left:0px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:12pt; font-weight:bold; color:#858585; x-used-count:5;  }

p.PdfParaStyle16 { margin-top:10px; margin-left:190px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:12pt; font-weight:bold; color:#000000; x-used-count:1;  }

p.PdfParaStyle17 { margin-top:0px; margin-left:200px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:12pt; font-weight:bold; color:#000000; x-used-count:1;  }

p.PdfParaStyle18 { margin-top:0px; margin-left:220px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:12pt; font-weight:bold; color:#000000; x-used-count:1;  }

p.PdfParaStyle19 { margin-top:10px; margin-left:10px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:12pt; font-weight:bold; color:#000000; x-used-count:1;  }

p.PdfParaStyle20 { margin-top:20px; margin-left:10px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:10pt; font-weight:bold; color:#000000; x-used-count:4;  }

p.PdfParaStyle21 { margin-top:0px; margin-left:10px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:10pt; font-weight:normal; color:#000000; x-used-count:16;  }

p.PdfParaStyle22 { margin-top:20px; margin-left:10px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:10pt; font-weight:normal; color:#000000; x-used-count:2;  }

p.PdfParaStyle23 { margin-top:10px; margin-left:0px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:10pt; font-weight:normal; color:#000000; x-used-count:11;  }

p.PdfParaStyle24 { margin-top:20px; margin-left:0px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:10pt; font-weight:bold; color:#000000; x-used-count:1;  }

p.PdfParaStyle25 { margin-top:0px; margin-left:0px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:10pt; font-weight:bold; color:#000000; x-used-count:1;  }

p.PdfParaStyle26 { margin-top:170px; margin-left:650px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:10pt; font-weight:normal; color:#000000; x-used-count:1;  }

p.PdfParaStyle27 { margin-top:10px; margin-left:390px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:11pt; font-weight:bold; color:#000000; x-used-count:1;  }

p.PdfParaStyle28 { margin-top:10px; margin-left:0px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:11pt; font-weight:normal; color:#000000; x-used-count:1;  }

p.PdfParaStyle29 { margin-top:10px; margin-left:0px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:14pt; font-weight:bold; color:#000000; x-used-count:1;  }

p.PdfParaStyle30 { margin-top:20px; margin-left:0px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:10pt; font-weight:normal; color:#000000; x-used-count:2;  }

p.PdfParaStyle31 { margin-top:30px; margin-left:0px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:10pt; font-weight:normal; color:#000000; x-used-count:4;  }

p.PdfParaStyle32 { margin-top:30px; margin-left:0px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:10pt; font-weight:bold; color:#000000; x-used-count:1;  }

p.PdfParaStyle33 { margin-top:20px; margin-left:0px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:14pt; font-weight:bold; color:#000000; x-used-count:2;  }

p.PdfParaStyle34 { margin-top:40px; margin-left:0px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:10pt; font-weight:normal; color:#0000ff; x-used-count:1;  }

p.PdfParaStyle35 { margin-top:10px; margin-left:40px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:10pt; font-weight:normal; color:#000000; x-used-count:3;  }

p.PdfParaStyle36 { margin-top:0px; margin-left:60px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:10pt; font-weight:bold; color:#ffffff; x-used-count:1;  }

p.PdfParaStyle37 { margin-top:0px; margin-left:0px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:10pt; font-weight:bold; color:#ffffff; x-used-count:2;  }

p.PdfParaStyle38 { margin-top:0px; margin-left:90px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:10pt; font-weight:bold; color:#ffffff; x-used-count:1;  }

p.PdfParaStyle39 { margin-top:0px; margin-left:0px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:10pt; font-weight:normal; color:#000000; x-used-count:3;  }

p.PdfParaStyle40 { margin-top:0px; margin-left:20px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:10pt; font-weight:normal; color:#000000; x-used-count:1;  }

p.PdfParaStyle41 { margin-top:10px; margin-left:20px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:10pt; font-weight:normal; color:#000000; x-used-count:1;  }

p.PdfParaStyle42 { margin-top:40px; margin-left:0px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:11pt; font-weight:normal; color:#008000; x-used-count:1;  }

p.PdfParaStyle43 { margin-top:10px; margin-left:100px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:10pt; font-weight:bold; color:#000000; x-used-count:1;  }

p.PdfParaStyle44 { margin-top:10px; margin-left:30px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:10pt; font-weight:bold; color:#000000; x-used-count:1;  }

p.PdfParaStyle45 { margin-top:30px; margin-left:50px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:10pt; font-weight:normal; color:#000000; x-used-count:1;  }

p.PdfParaStyle46 { margin-top:30px; margin-left:30px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:10pt; font-weight:normal; color:#000000; x-used-count:1;  }

p.PdfParaStyle47 { margin-top:200px; margin-left:650px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:10pt; font-weight:normal; color:#000000; x-used-count:1;  }

p.PdfParaStyle48 { margin-top:0px; margin-left:10px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:12pt; font-weight:bold; color:#858585; x-used-count:2;  }

p.PdfParaStyle49 { margin-top:10px; margin-left:10px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:12pt; font-weight:bold; color:#858585; x-used-count:2;  }

p.PdfParaStyle50 { margin-top:20px; margin-left:10px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:14pt; font-weight:bold; color:#000000; x-used-count:2;  }

p.PdfParaStyle51 { margin-top:20px; margin-left:50px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:10pt; font-weight:normal; color:#000000; x-used-count:1;  }

p.PdfParaStyle52 { margin-top:10px; margin-left:250px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:10pt; font-weight:bold; color:#ffffff; x-used-count:1;  }

p.PdfParaStyle53 { margin-top:10px; margin-left:200px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:10pt; font-weight:normal; color:#000000; x-used-count:1;  }

p.PdfParaStyle54 { margin-top:0px; margin-left:370px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:10pt; font-weight:normal; color:#000000; x-used-count:1;  }

p.PdfParaStyle55 { margin-top:30px; margin-left:10px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:10pt; font-weight:normal; color:#000000; x-used-count:1;  }

p.PdfParaStyle56 { margin-top:30px; margin-left:10px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:10pt; font-weight:bold; color:#000000; x-used-count:2;  }

p.PdfParaStyle57 { margin-top:40px; margin-left:10px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:10pt; font-weight:normal; color:#000000; x-used-count:1;  }

p.PdfParaStyle58 { margin-top:30px; margin-left:90px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:14pt; font-weight:bold; color:#000000; x-used-count:1;  }

p.PdfParaStyle59 { margin-top:410px; margin-left:660px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:10pt; font-weight:normal; color:#000000; x-used-count:1;  }

p.PdfParaStyle60 { margin-top:10px; margin-left:0px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:14pt; font-weight:bold; color:#008000; x-used-count:1;  }

p.PdfParaStyle61 { margin-top:20px; margin-left:0px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:10pt; font-weight:normal; color:#008000; x-used-count:1;  }

p.PdfParaStyle62 { margin-top:50px; margin-left:0px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:11pt; font-weight:bold; color:#000000; x-used-count:1;  }

p.PdfParaStyle63 { margin-top:20px; margin-left:40px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:10pt; font-weight:normal; color:#000000; x-used-count:1;  }

p.PdfParaStyle64 { margin-top:10px; margin-left:0px; margin-right:0px; text-indent:10px; font-family:'Arial'   , Helvetica, sans-serif; font-size:10pt; font-weight:normal; color:#000000; x-used-count:1;  }

p.PdfParaStyle65 { margin-top:40px; margin-left:0px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:12pt; font-weight:bold; color:#000000; x-used-count:1;  }

p.PdfParaStyle66 { margin-top:0px; margin-left:0px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:11pt; font-weight:normal; color:#000000; x-used-count:1;  }

p.PdfParaStyle67 { margin-top:340px; margin-left:650px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:10pt; font-weight:normal; color:#000000; x-used-count:1;  }

p.PdfParaStyle68 { margin-top:80px; margin-left:650px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:10pt; font-weight:normal; color:#000000; x-used-count:2;  }

p.PdfParaStyle69 { margin-top:80px; margin-left:660px; margin-right:0px; text-indent:0px; font-family:'Arial'   , Helvetica, sans-serif; font-size:10pt; font-weight:normal; color:#000000; x-used-count:1;  }