p { 
   margin:0in; 
   margin-bottom:.0001pt; 
   font-size:12.0pt; 
   font-family:Times New Roman;  }
h1 { 
    margin-top:12.0pt; 
    margin-right:1pt; 
    margin-bottom:3.0pt; 
    margin-left:1pt; 
    font-size:16.0pt; 
    font-family:Arial; 
    font-weight:bold;  }
h2 { 
    margin-top:12.0pt; 
    margin-right:1pt; 
    margin-bottom:3.0pt; 
    margin-left:1pt; 
    font-size:14.0pt; 
    font-family:Arial; 
    font-style:italic; 
    font-weight:bold;  }
h3 { 
    margin-top:12.0pt; 
    margin-right:1pt; 
    margin-bottom:3.0pt; 
    margin-left:1pt; 
    font-size:13.0pt; 
    font-family:Arial; 
    font-weight:bold;  }
h4 { 
    margin-top:12.0pt; 
    margin-right:1pt; 
    margin-bottom:3.0pt; 
    margin-left:1pt; 
    font-size:14.0pt; 
    font-family:Times New Roman; 
    font-weight:bold;  }
p.BodyText { 
            margin-top:1pt; 
            margin-right:1pt; 
            margin-bottom:6.0pt; 
            margin-left:1pt; 
            font-size:12.0pt; 
            font-family:Times New Roman;  }
OL { 
    margin-top:0px; 
    margin-bottom:0px;  }
UL { 
    margin-top:0px; 
    margin-bottom:0px;  }
p.InlineNormal2 { 
                 margin:0in; 
                 margin-bottom:.0001pt; 
                 font-size:16.0pt; 
                 font-family:Arial;  }
p.InlineBodyText1 { 
                   margin-top:1pt; 
                   margin-right:1pt; 
                   margin-bottom:6.0pt; 
                   margin-left:1pt; 
                   font-size:12.0pt; 
                   font-family:Arial; 
                   font-weight:bold;  }
p.InlineBodyText { 
                  margin-top:1pt; 
                  margin-right:1pt; 
                  margin-bottom:6.0pt; 
                  margin-left:1pt; 
                  font-size:14.0pt; 
                  font-family:Arial; 
                  font-weight:bold;  }
p.InlineNormal { 
                margin:0in; 
                margin-bottom:.0001pt; 
                font-size:12.0pt; 
                font-family:Times New Roman; 
                text-align:center;  }
p.InlineBodyText2 { 
                   margin-top:1pt; 
                   margin-right:1pt; 
                   margin-bottom:6.0pt; 
                   margin-left:1pt; 
                   font-size:12.0pt; 
                   font-family:Times New Roman;  }
p.InlineNormal1 { 
                 margin:0in; 
                 margin-bottom:.0001pt; 
                 font-size:16.0pt; 
                 font-family:Arial; 
                 text-align:center;  }
