<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-lazy-init="false" default-autowire="no" default-dependency-check="none">
  
  <bean name="/facilityListDisplay" 
        class="gov.epa.owm.mtb.cwns.facility.FacilityListDisplayAction">
        <property name="facilityService">
			<ref bean="facilityService" />
		</property>
		<property name="facilityDAO">
			<ref bean="facilityDAO" />
		</property>
		<property name="userService">
			<ref bean="userService" />
		</property>
  </bean>

  <bean name="/facilityInformation" 
        class="gov.epa.owm.mtb.cwns.facilityInformation.FacilityInformationAction">
        <property name="facilityService">
			<ref bean="facilityService" />
		</property>
  </bean>
<!-- 
  <bean name="/facilityFactSheetDisplay" 
        class="gov.epa.owm.mtb.cwns.facility.FactSheetDisplayAction">
        <property name="facilityService">
			<ref bean="facilityService" />
		</property>
  </bean>
 -->    
  <bean name="/facilityMenuDisplay" 
        class="gov.epa.owm.mtb.cwns.facility.FacilityMenuDisplayAction">
        <property name="populationService">
			<ref bean="populationService" />
		</property>
		<property name="facilityTypeService">
			<ref bean="facilityTypeService" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>	
		<property name="needsService">
			<ref bean="needsService" />
		</property>	
  </bean>
  
  <bean name="/saveFacilityInfo" 
        class="gov.epa.owm.mtb.cwns.facilityInformation.FacilityInfoSaveAction">
        <property name="facilityService">
			<ref bean="facilityService" />
		</property>
		<property name="fesManager">
			<ref bean="fesManager" />
		</property>
		<property name="facilityTypeService">
			<ref bean="facilityTypeService" />
		</property>
  </bean>

  <bean name="/reviewStatus" 
        class="gov.epa.owm.mtb.cwns.reviewstatus.ReviewStatusAction">
        <property name="reviewStatusRefService">
			<ref bean="reviewStatusRefService" />
		</property>
  </bean>
  
  <bean name="/announcements" 
        class="gov.epa.owm.mtb.cwns.announcements.AnnouncementsAction">
        <property name="announcementService">
			<ref bean="announcementService" />
		</property>
  </bean>  

  <bean name="/administration" 
        class="gov.epa.owm.mtb.cwns.administration.AdministrationAction">
		<property name="userService">
			<ref bean="userService" />
		</property>
  </bean>  
  
  <bean name="/mainMenuDisplay" 
        class="gov.epa.owm.mtb.cwns.mainmenu.MainMenuDisplayAction">
  </bean> 
  
  <bean name="/navigationBanner" 
        class="gov.epa.owm.mtb.cwns.navigationBanner.NavigationBannerAction">
  </bean>  
  
  <bean name="/summary" 
        class="gov.epa.owm.mtb.cwns.summary.SummaryAction">
        <property name="summaryService">
			<ref bean="summaryService" />
		</property>
		<property name="userService">
			<ref bean="userService" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
		<property name="populationService">
			<ref bean="populationService" />
	  </property>
  </bean>
  <bean name="/viewAllComments" 
        class="gov.epa.owm.mtb.cwns.summary.ViewCommentsAction">
        <property name="summaryService">
			<ref bean="summaryService" />
		</property>
  </bean>

  <bean name="/searchFacility" 
        class="gov.epa.owm.mtb.cwns.facility.FacilitySearchAction">
  </bean> 
  <bean name="/basicSearch" 
        class="gov.epa.owm.mtb.cwns.facility.FacilitySearchDisplayAction">
  </bean>
  <bean name="/countyList"
        class="gov.epa.owm.mtb.cwns.facility.CountyListAction">
        <property name="facilityService">
			<ref bean="facilityService" />
		</property>
		<property name="facilityAddressService">
			<ref bean="facilityAddressService" />
		</property>
  </bean>
  <bean name="/systemNameList"
        class="gov.epa.owm.mtb.cwns.facility.SystemListAction">
        <property name="facilityService">
			<ref bean="facilityService" />
		</property>
  </bean>
  <bean name="/watershedList"
        class="gov.epa.owm.mtb.cwns.facility.WatershedListAction">
        <property name="facilityService">
			<ref bean="facilityService" />
		</property>
		<property name="facilityAddressService">
			<ref bean="facilityAddressService" />
		</property>
  </bean>

  <bean name="/reviewComments" 
        class="gov.epa.owm.mtb.cwns.reviewComments.ReviewCommentsAction">
        <property name="reviewCommentsService">
			<ref bean="reviewCommentsService" />
		</property>
        <property name="facilityService">
			<ref bean="facilityService" />
		</property>
  </bean> 
  
  <bean name="/reviewCommentsViewAll" 
        class="gov.epa.owm.mtb.cwns.reviewComments.ReviewCommentsViewAllAction">
        <property name="reviewCommentsService">
			<ref bean="reviewCommentsService" />
		</property>
  </bean> 

  <bean name="/advanceSearch"
        class="gov.epa.owm.mtb.cwns.facility.AdvanceSearchAction">
        <property name="facilityService">
			<ref bean="facilityService" />
		</property>
		 <property name="userService">
			<ref bean="userService" />
		</property>
		<property name="populationService">
			<ref bean="populationService" />
		</property>
		<property name="flowService">
			<ref bean="flowService" />
		</property>
		<property name="documentService">
			<ref bean="documentService" />
		</property>
  </bean> 
  
  <bean name="/facilityReviewStatus" 
        class="gov.epa.owm.mtb.cwns.reviewstatus.FacilityReviewStatusAction">
        <property name="reviewStatusRefService">
			<ref bean="reviewStatusRefService" />
		</property>
		<property name="populationService">
			<ref bean="populationService" />
	    </property>
	    <property name="facilityService">
			<ref bean="facilityService" />
		</property>
  </bean> 

  <bean name="/navigationTabs" 
        class="gov.epa.owm.mtb.cwns.navigationTabs.NavigationTabsAction">
        <property name="navigationTabsService">
			<ref bean="navigationTabsService" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
  </bean>
  
  <bean name="/viewFacilityType"
        class="gov.epa.owm.mtb.cwns.facilityType.FacilityTypeDisplayAction">
        <property name="facilityService">
			<ref bean="facilityService" />
		</property>
        <property name="facilityTypeService">
			<ref bean="facilityTypeService" />
		</property>		
  </bean> 
    
  <bean name="/saveFacilityType"
        class="gov.epa.owm.mtb.cwns.facilityType.FacilityTypeSaveAction">
        <property name="facilityTypeService">
			<ref bean="facilityTypeService" />
		</property>
        <property name="facilityService">
			<ref bean="facilityService" />
		</property>
		<property name="facilityAddressService">
			<ref bean="facilityAddressService" />
		</property>
  </bean>
  
  <bean name="/editFacilityType"
        class="gov.epa.owm.mtb.cwns.facilityType.FacilityTypeEditAction">
        <property name="facilityTypeService">
			<ref bean="facilityTypeService" />
		</property>
  </bean>   
  
  <bean name="/addFacilityType"
        class="gov.epa.owm.mtb.cwns.facilityType.FacilityTypeAddAction">
  </bean>     
  
  <bean name="/deleteFacilityType"
        class="gov.epa.owm.mtb.cwns.facilityType.FacilityTypeDeleteAction">
        <property name="facilityTypeService">
			<ref bean="facilityTypeService" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
  </bean>     
  
  <bean name="/facilityComments" 
        class="gov.epa.owm.mtb.cwns.facilityComments.FacilityCommentsAction">
        <property name="facilityCommentsService">
			<ref bean="facilityCommentsService" />
		</property>
		<property name="userService">
			<ref bean="userService" />
		</property>		
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>		
		<property name="fesService">
			<ref bean="fesService" />
		</property>
		<property name="populationService">
			<ref bean="populationService"></ref>
		</property>
		<property name="facilityTypeService">
			<ref bean="facilityTypeService"></ref>
		</property>
  </bean> 
  
<!--  User Management -->
 
  <bean name="/userList" 
        class="gov.epa.owm.mtb.cwns.userlist.UserListAction">
        <property name="userService">
			<ref bean="userService" />
		</property>
  </bean>

  <bean name="/userDetails" 
        class="gov.epa.owm.mtb.cwns.userdetails.UserDetailsAction">
        <property name="userService">
			<ref bean="userService" />
		</property>
        <property name="mailService">
			<ref bean="mailService" />
		</property>
  </bean>

  <bean name="/userSearch" 
        class="gov.epa.owm.mtb.cwns.usersearch.UserSearchAction">
        <property name="userService">
			<ref bean="userService" />
		</property>
		
  </bean>  
  
<!--  User Registration -->

  <bean name="/cwns2008Home" 
        class="gov.epa.owm.mtb.cwns.userregistration.Cwns2008HomeAction">
  </bean>
 
  <bean name="/registrationPreliminary" 
        class="gov.epa.owm.mtb.cwns.userregistration.RegistrationPreliminaryAction">
        <property name="userService">
			<ref bean="userService" />
		</property>
  </bean>
 
  <bean name="/basicProfile" 
        class="gov.epa.owm.mtb.cwns.userregistration.BasicProfileAction">
        <property name="userService">
			<ref bean="userService" />
		</property>
        <property name="facilityService">
			<ref bean="facilityService" />
		</property>
        <property name="mailService">
			<ref bean="mailService" />
		</property>
  </bean>


<!--  Effluent-->  

  <bean name="/effluent" 
        class="gov.epa.owm.mtb.cwns.effluent.EffluentAction">
		<property name="effluentService">
			<ref bean="effluentService" />
		</property>
		<property name="facilityTypeService">
			<ref bean="facilityTypeService" />
		</property>	
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
		<property name="dischargeService">
			<ref bean="dischargeService" />
		</property>
		<property name="reviewStatusRefService">
			<ref bean="reviewStatusRefService" />
		</property>
  </bean>

<bean name="/saveEffluent" 
        class="gov.epa.owm.mtb.cwns.effluent.EffluentSaveAction">
		<property name="effluentService">
			<ref bean="effluentService" />
		</property>
		<property name="fesManager">
			<ref bean="fesManager" />
		</property>
		<property name="facilityTypeService">
			<ref bean="facilityTypeService" />
		</property>	
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
		<property name="dischargeService">
			<ref bean="dischargeService" />
		</property>
  </bean>  
  
  
  


<!--  Discharge -->  

  <bean name="/discharge" 
        class="gov.epa.owm.mtb.cwns.discharge.DischargeAction">
      	<property name="dischargeService">
        	 <ref bean="dischargeService"/>
	    </property> 
		<property name="userService">
			<ref bean="userService" />
		</property>
		<property name="fesManager">
			<ref bean="fesManager" />
		</property>
        <property name="facilityService">
			<ref bean="facilityService" />
		</property>
        <property name="facilityTypeService">
			<ref bean="facilityTypeService" />
		</property>		
		<property name="populationService">
			<ref bean="populationService" />
		</property>
		
  </bean>


<!--  Point of Contact -->  

  <bean name="/pointOfContact" 
        class="gov.epa.owm.mtb.cwns.pointofcontact.PointOfContactAction">
      <property name="facilityService">
         <ref bean="facilityService"/>
      </property> 
		<property name="userService">
			<ref bean="userService" />
		</property>
		<property name="pocService">
			<ref bean="pocService" />
		</property>
		<property name="fesManager">
			<ref bean="fesManager" />
		</property>
  </bean>

  <bean name="/pointOfContactSearch" 
        class="gov.epa.owm.mtb.cwns.pointofcontact.PointOfContactSearchAction">
        <property name="facilityService">
			<ref bean="facilityService" />
		</property>
		<property name="pocService">
			<ref bean="pocService" />
		</property>
  </bean>
   
  
  <bean name="/flowInfo" class="gov.epa.owm.mtb.cwns.flowInformation.FlowInformationAction">
      <property name="flowService">
         <ref bean="flowService"/>
      </property>
      <property name="facilityService">
         <ref bean="facilityService"/>
      </property> 
      <property name="populationService">
			<ref bean="populationService" />
	  </property>
  </bean>

  <bean name="/breadcrumb" class="gov.epa.owm.mtb.cwns.breadcrumb.BreadcrumbAction">
      <property name="facilityService">
         <ref bean="facilityService"/>
      </property> 
  </bean>
    
  <bean name="/saveFlowInfo" class="gov.epa.owm.mtb.cwns.flowInformation.FlowInfoSaveAction">
      <property name="flowService">
         <ref bean="flowService"/>
      </property>
      <property name="facilityService">
		<ref bean="facilityService" />
	  </property>
	  <property name="populationService">
			<ref bean="populationService" />
		</property>
  </bean>
  
  <bean name="/population" 
        class="gov.epa.owm.mtb.cwns.populationInformation.PopulationInformationAction">
        <property name="populationService">
			<ref bean="populationService" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
  </bean>
  
  <bean name="/clusteredSystemDetails" 
        class="gov.epa.owm.mtb.cwns.populationInformation.ClusteredSystemsDetailsAction">
        <property name="populationService">
			<ref bean="populationService" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
  </bean>
  
  <bean name="/owtSystemDetails" 
        class="gov.epa.owm.mtb.cwns.populationInformation.OWTSystemsDetailsAction">
        <property name="populationService">
			<ref bean="populationService" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
  </bean>
 
  <bean name="/needs" 
        class="gov.epa.owm.mtb.cwns.needs.NeedsAction">
        <property name="needsService">
			<ref bean="needsService" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
		<property name="capitalCostService">
			<ref bean="capitalCostService" />
		</property>
  </bean>

  <bean name="/capitalCost" 
        class="gov.epa.owm.mtb.cwns.capitalCost.CapitalCostAction">
        <property name="capitalCostService">
			<ref bean="capitalCostService" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
		<property name="needsService">
			<ref bean="needsService" />
		</property>
  </bean>

  <bean name="/costCurvePopulation" 
        class="gov.epa.owm.mtb.cwns.costCurvePopulation.CostCurvePopulationAction">
        <property name="costCurvePopulationService">
			<ref bean="costCurvePopulationService" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
		<property name="populationService">
			<ref bean="populationService" />
		</property>
  </bean>

  <bean name="/utilityManagement" 
        class="gov.epa.owm.mtb.cwns.utilityManagement.UtilityManagementAction">
        <property name="utilityManagementService">
			<ref bean="utilityManagementService" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
  </bean>

  <bean name="/unitProcess" 
        class="gov.epa.owm.mtb.cwns.unitProcess.UnitProcessAction">
        <property name="unitProcessService">
			<ref bean="unitProcessService" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
  </bean>

  <bean name="/oandM" 
        class="gov.epa.owm.mtb.cwns.oandm.OandMAction">
        <property name="oandMService">
			<ref bean="oandMService" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
  </bean>

  <bean name="/pollution" 
        class="gov.epa.owm.mtb.cwns.pollution.PollutionAction">
        <property name="pollutionService">
			<ref bean="pollutionService" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
  </bean>

  <bean name="/manageCostCurve" 
        class="gov.epa.owm.mtb.cwns.manageCostCurve.ManageCostCurveAction">
        <property name="manageCostCurveService">
			<ref bean="manageCostCurveService" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
  </bean>

  <bean name="/manageCostCurveViewAllCatV" 
        class="gov.epa.owm.mtb.cwns.manageCostCurve.ManageCostCurveViewAllCatVAction">
        <property name="manageCostCurveService">
			<ref bean="manageCostCurveService" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
  </bean>
        
  <bean name="/upstreamCollection" 
        class="gov.epa.owm.mtb.cwns.populationInformation.UpstreamCollectionAction">
        <property name="populationService">
			<ref bean="populationService" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
  </bean>

    <bean name="/impairedWatersSearch" 
        class="gov.epa.owm.mtb.cwns.impairedWatersSearch.ImpairedWatersSearchAction">
        <property name="impairedWatersService">
			<ref bean="impairedWatersService" />
		</property>
		<property name="facilityAddressService">
			<ref bean="facilityAddressService" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>		
  </bean>
    
    <bean name="/impairedWaters" 
        class="gov.epa.owm.mtb.cwns.impairedWatersInformation.ImpairedWatersAction">
        <property name="impairedWatersService">
			<ref bean="impairedWatersService" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
  </bean>
  
  
  <bean name="/facilityAddressDisplay" 
        class="gov.epa.owm.mtb.cwns.facilityInformation.FacilityAddressDisplayAction">
        <property name="facilityAddressService">
			<ref bean="facilityAddressService" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
  </bean>
  
  <bean name="/saveFacilityAddress" 
        class="gov.epa.owm.mtb.cwns.facilityInformation.FacilityAddressSaveAction">
        <property name="facilityAddressService">
			<ref bean="facilityAddressService" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
  </bean>
  
  <bean name="/facilityCoordinatesDisplay" 
        class="gov.epa.owm.mtb.cwns.facilityInformation.PointOfRecordDisplayAction">
        <property name="facilityAddressService">
			<ref bean="facilityAddressService" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
  </bean>
  
  <bean name="/getWebRITParams" 
        class="gov.epa.owm.mtb.cwns.facilityInformation.WebRITInformationAction">
         <property name="facilityAddressService">
			<ref bean="facilityAddressService" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
  </bean>
  
  <bean name="/getWebRITSessionParams" 
        class="gov.epa.owm.mtb.cwns.facilityInformation.WebRITSessionInformationAction">
         <property name="facilityAddressService">
			<ref bean="facilityAddressService" />
		</property>        
  </bean>		
  
   <bean name="/saveFacilityCoordinates" 
        class="gov.epa.owm.mtb.cwns.facilityInformation.PointOfRecordSaveAction">
        <property name="facilityAddressService">
			<ref bean="facilityAddressService" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
  </bean>

<!--  Combined Sewer Overflow -->  
  <bean name="/viewCSO" class="gov.epa.owm.mtb.cwns.cso.CSODisplayAction">
        <property name="csoService">
			<ref bean="csoService" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
  </bean>

  
  <bean name="/saveCSO" class="gov.epa.owm.mtb.cwns.cso.CSOSaveAction">
        <property name="csoService">
			<ref bean="csoService" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
  </bean>  
  
  
<!--  Facility Location County-->  
  <bean name="/facilityCountyDisplay" 
        class="gov.epa.owm.mtb.cwns.county.FacilityCountyDisplayAction">
        <property name="facilityAddressService">
			<ref bean="facilityAddressService" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
  </bean>
  
  <bean name="/saveFacilityCounty" 
        class="gov.epa.owm.mtb.cwns.county.FacilityCountySaveAction">
       <property name="facilityAddressService">
			<ref bean="facilityAddressService" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
  </bean>
  
  <bean name="/addFacilityCounty" 
        class="gov.epa.owm.mtb.cwns.county.FacilityCountyAddAction">
        
  </bean>
  
  <bean name="/editFacilityCounty" 
        class="gov.epa.owm.mtb.cwns.county.FacilityCountyEditAction">
        <property name="facilityAddressService">
			<ref bean="facilityAddressService" />
		</property> 
  </bean>
  
  <bean name="/deleteFacilityCounty" 
        class="gov.epa.owm.mtb.cwns.county.FacilityCountyDeleteAction">
        <property name="facilityAddressService">
			<ref bean="facilityAddressService" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
  </bean>
 
  <!--  Facility Location Congressional District-->
  <bean name="/conDistrictDisplay" 
        class="gov.epa.owm.mtb.cwns.congressionalDistrict.CongressionalDistrictDisplayAction">
        <property name="facilityAddressService">
			<ref bean="facilityAddressService" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
  </bean>
  
  <bean name="/addConDistrict" 
        class="gov.epa.owm.mtb.cwns.congressionalDistrict.CongressionalDistrictAddAction">
  </bean>
  
  <bean name="/saveConDistrict" 
        class="gov.epa.owm.mtb.cwns.congressionalDistrict.CongressionalDistrictSaveAction">
       <property name="facilityAddressService">
			<ref bean="facilityAddressService" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
  </bean>
  
  <bean name="/editConDistrict" 
        class="gov.epa.owm.mtb.cwns.congressionalDistrict.CongressionalDistrictEditAction">
        <property name="facilityAddressService">
			<ref bean="facilityAddressService" />
		</property> 
  </bean>
  
  <bean name="/deleteConDistrict" 
        class="gov.epa.owm.mtb.cwns.congressionalDistrict.CongressionalDistrictDeleteAction">
        <property name="facilityAddressService">
			<ref bean="facilityAddressService" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property> 
  </bean>
  
  <bean name="/conDistrictList"
        class="gov.epa.owm.mtb.cwns.congressionalDistrict.ConDistrictListAction">
        <property name="facilityAddressService">
			<ref bean="facilityAddressService" />
		</property>
  </bean>
  
  <bean name="/watershedDisplay" 
        class="gov.epa.owm.mtb.cwns.watershed.WatershedDisplayAction">
        <property name="facilityAddressService">
			<ref bean="facilityAddressService" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
  </bean>
  
  <bean name="/addWatershed" 
        class="gov.epa.owm.mtb.cwns.watershed.WatershedAddAction">
  </bean>
  
  <bean name="/saveWatershed" 
        class="gov.epa.owm.mtb.cwns.watershed.WatershedSaveAction">
       <property name="facilityAddressService">
			<ref bean="facilityAddressService" />
		</property> 
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>	
  </bean>
  
  <bean name="/editWatershed" 
        class="gov.epa.owm.mtb.cwns.watershed.WatershedEditAction">
        <property name="facilityAddressService">
			<ref bean="facilityAddressService" />
		</property> 
  </bean>
  
  <bean name="/deleteWatershed" 
        class="gov.epa.owm.mtb.cwns.watershed.WatershedDeleteAction">
        <property name="facilityAddressService">
			<ref bean="facilityAddressService" />
		</property> 
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
  </bean>
  
  <bean name="/boundaryDisplay" 
        class="gov.epa.owm.mtb.cwns.boundary.BoundaryDisplayAction">
        <property name="facilityAddressService">
			<ref bean="facilityAddressService" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
  </bean>
  
   <bean name="/addBoundary" 
        class="gov.epa.owm.mtb.cwns.boundary.BoundaryAddAction">
  </bean>
  
  <bean name="/saveBoundary" 
        class="gov.epa.owm.mtb.cwns.boundary.BoundarySaveAction">
        <property name="facilityAddressService">
			<ref bean="facilityAddressService" />
		</property> 
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
  </bean>
  
  <bean name="/deleteBoundary" 
        class="gov.epa.owm.mtb.cwns.boundary.BoundaryDeleteAction">
        <property name="facilityAddressService">
			<ref bean="facilityAddressService" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property> 
  </bean>
   
  <bean name="/boundaryList"
        class="gov.epa.owm.mtb.cwns.boundary.BoundaryListAction">
        <property name="facilityAddressService">
			<ref bean="facilityAddressService" />
		</property>
  </bean> 

  <bean name="/myRoles" 
        class="gov.epa.owm.mtb.cwns.myroles.MyRolesAction">
		<property name="userService">
			<ref bean="userService" />
		</property>
  </bean>
  
  <bean name="/documentSearch" 
        class="gov.epa.owm.mtb.cwns.documentSearch.DocumentSearchAction">
        <property name="needsService">
			<ref bean="needsService" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>		
  </bean>
  
  <bean name="/funding" 
        class="gov.epa.owm.mtb.cwns.funding.FundingAction">
        <property name="fundingService">
			<ref bean="fundingService" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
		<property name="facilityDAO">
			<ref bean="facilityDAO" />
		</property>		
  </bean>

  <bean name="/facilitySelect"
        class="gov.epa.owm.mtb.cwns.facilitySelect.FacilitySelectAction">
        <property name="facilityService">
			<ref bean="facilityService" />
		</property>
      	<property name="dischargeService">
        	 <ref bean="dischargeService"/>
	    </property> 
		<property name="populationService">
			<ref bean="populationService" />
	  </property>
	    
  </bean>
  
  
  <bean name="/UMfacilitySelect"
        class="gov.epa.owm.mtb.cwns.facilitySelect.UMFacilitySelectAction">
        <property name="facilityService">
			<ref bean="facilityService" />
		</property>
      	<property name="dischargeService">
        	 <ref bean="dischargeService"/>
	    </property> 
		<property name="populationService">
			<ref bean="populationService" />
	  </property>
  </bean>
  
  
  
  <bean name="/cbrSearch" 
        class="gov.epa.owm.mtb.cwns.funding.CbrSearchAction">
        <property name="fundingService">
			<ref bean="fundingService" />
		</property>	
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
		<property name="facilityDAO">
			<ref bean="facilityDAO" />
		</property>			
  </bean>
  
  <bean name="/cbrLoanDetailDisplay" 
        class="gov.epa.owm.mtb.cwns.funding.CbrLoanDetailAction">
        <property name="fundingService">
			<ref bean="fundingService" />
		</property>		
  </bean>
  
  <!--  Facility Permits-->
  <bean name="/permitsDisplay" 
        class="gov.epa.owm.mtb.cwns.permits.FacilityPermitDisplayAction">
        <property name="facilityPermitService">
			<ref bean="facilityPermitService" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
  </bean>
  
  <bean name="/deleteFacilityPermit" 
        class="gov.epa.owm.mtb.cwns.permits.FacilityPermitDeleteAction">
        <property name="facilityPermitService">
			<ref bean="facilityPermitService" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
  </bean>
  
  <bean name="/editFacilityPermit" 
        class="gov.epa.owm.mtb.cwns.permits.FacilityPermitEditAction">
        <property name="facilityPermitService">
			<ref bean="facilityPermitService" />
		</property>
  </bean>
  
  <bean name="/addFacilityPermit" 
        class="gov.epa.owm.mtb.cwns.permits.FacilityPermitAddAction">
        <property name="facilityPermitService">
			<ref bean="facilityPermitService" />
		</property>
  </bean>
  
  <bean name="/saveFacilityPermit" 
        class="gov.epa.owm.mtb.cwns.permits.FacilityPermitSaveAction">
        <property name="facilityPermitService">
			<ref bean="facilityPermitService" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
  </bean>
  
  <bean name="/NPDESPermitInfo" 
        class="gov.epa.owm.mtb.cwns.npdes.NPDESPermitInfoAction">
        <property name="facilityPermitService">
			<ref bean="facilityPermitService" />
		</property>
  </bean>
  
  <!-- Permit Search -->
  <bean name="/permitsSearch" 
        class="gov.epa.owm.mtb.cwns.permits.PermitsSearchAction">
        <property name="facilityPermitService">
			<ref bean="facilityPermitService" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
  </bean>
  
  <bean name="/NPDESPermitFlowData" 
        class="gov.epa.owm.mtb.cwns.npdes.NPDESPermitFlowDataAction">
        <property name="npdesPermitService">
           <ref bean="npdesPermitService"/>
        </property>
  </bean>
  
  <bean name="/portalSideNavigation" class="gov.epa.owm.mtb.cwns.portal.SideNavigationAction">
      <property name="userService">
			<ref bean="userService" />
	 </property>
	 <property name="mailService">
			<ref bean="mailService" />
		</property>
  </bean>
  
  <bean name="/sewershedList" 
        class="gov.epa.owm.mtb.cwns.summary.ViewSewershedAction">
        <property name="populationService">
           <ref bean="populationService"/>
        </property>
  </bean>
  
</beans>