<!--
* @(#)applicationContext-hibernate.xnl  Jul 27, 2005
*
* Copyright 2005 Lockheed Martin
* 1010 North Glebe Road, Arlington, VA, 22201, USA
* All Rights Reserved
*
* This software is the confidential and propietary information of Lockheed
* Martin ("Confidential Information").  You shall not disclose such
* Confidential Information and shall use it only in accordance with the
* terms of the license agreement you entered into with Lockheed Martin.
-->
<!--
 * Spring applicationContext file for Hibernate
 * @author Pramod Kudva
 * @author Raj Lingam - Customized for CWNS
 * @version $Revision: 1.2 $
-->

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-lazy-init="false" default-autowire="no" default-dependency-check="none">
    
    <!-- Facility DAO Bean -->
    <bean id="cwnsInfoLocationRefDAOTarget" class="gov.epa.owm.mtb.cwns.dao.hibernate.CwnsInfoLocationRefDAOImpl">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
        <property name="searchDAO">
            <ref bean="searchDAO"/>
        </property>
    </bean>
    
    <bean id="cwnsInfoLocationRefDAO" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces">
            <value>gov.epa.owm.mtb.cwns.dao.CwnsInfoLocationRefDAO</value>
        </property>
        <property name="interceptorNames">
            <list>
                <value>hibernateInterceptor</value>
                <value>cwnsInfoLocationRefDAOTarget</value>
            </list>
        </property>
    </bean>
    
    <!-- Facility DAO Bean -->
    <bean id="facilityDAOTarget" class="gov.epa.owm.mtb.cwns.dao.hibernate.FacilityDAOImpl">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
        <property name="searchDAO">
            <ref bean="searchDAO"/>
        </property>
    </bean>
    
    <bean id="facilityDAO" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces">
            <value>gov.epa.owm.mtb.cwns.dao.FacilityDAO</value>
        </property>
        <property name="interceptorNames">
            <list>
                <value>hibernateInterceptor</value>
                <value>facilityDAOTarget</value>
            </list>
        </property>
    </bean>
   
    <!-- CwnsUser DAO Bean -->    
    <bean id="cwnsUserDAOTarget" class="gov.epa.owm.mtb.cwns.dao.hibernate.CwnsUserDAOImpl">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>
    
    <bean id="cwnsUserDAO" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces">
            <value>gov.epa.owm.mtb.cwns.dao.CwnsUserDAO</value>
        </property>
        <property name="interceptorNames">
            <list>
                <value>hibernateInterceptor</value>
                <value>cwnsUserDAOTarget</value>
            </list>
        </property>
    </bean>
   
    
    <!-- CwnsUserSetting DAO Bean -->
    <bean id="cwnsUserSettingDAOTarget" class="gov.epa.owm.mtb.cwns.dao.hibernate.CwnsUserSettingDAOImpl">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>
    
    <bean id="cwnsUserSettingDAO" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces">
            <value>gov.epa.owm.mtb.cwns.dao.CwnsUserSettingDAO</value>
        </property>
        <property name="interceptorNames">
            <list>
                <value>hibernateInterceptor</value>
                <value>cwnsUserSettingDAOTarget</value>
            </list>
        </property>
    </bean>

    <!-- ReviewStatusRef DAO Bean  -->
    <bean id="reviewStatusRefDAOTarget" class="gov.epa.owm.mtb.cwns.dao.hibernate.ReviewStatusRefDAOImpl">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>
    
    <bean id="reviewStatusRefDAO" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces">
            <value>gov.epa.owm.mtb.cwns.dao.ReviewStatusRefDAO</value>
        </property>
        <property name="interceptorNames">
            <list>
                <value>hibernateInterceptor</value>
                <value>reviewStatusRefDAOTarget</value>
            </list>
        </property>
    </bean>
    
    <!-- Announcement DAO Bean -->
    <bean id="announcementDAOTarget" class="gov.epa.owm.mtb.cwns.dao.hibernate.AnnouncementDAOImpl">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>
    
    <bean id="announcementDAO" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces">
            <value>gov.epa.owm.mtb.cwns.dao.AnnouncementDAO</value>
        </property>
        <property name="interceptorNames">
            <list>
                <value>hibernateInterceptor</value>
                <value>announcementDAOTarget</value>
            </list>
        </property>
    </bean>
    
    <!-- Summary DAO Bean -->
    <bean id="summaryDAOTarget" class="gov.epa.owm.mtb.cwns.dao.hibernate.SummaryDAOImpl">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>
    
    <bean id="summaryDAO" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces">
            <value>gov.epa.owm.mtb.cwns.dao.SummaryDAO</value>
        </property>
        <property name="interceptorNames">
            <list>
                <value>hibernateInterceptor</value>
                <value>summaryDAOTarget</value>
            </list>
        </property>
    </bean>
    
    <!-- Search DAO -->
    <bean id="searchDAOTarget" class="gov.epa.owm.mtb.cwns.dao.hibernate.SearchDAOImpl">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>    
    <bean id="searchDAO" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces">
            <value>gov.epa.owm.mtb.cwns.dao.SearchDAO</value>
        </property>
        <property name="interceptorNames">
            <list>
                <value>hibernateInterceptor</value>
                <value>searchDAOTarget</value>
            </list>
        </property>
    </bean>

    <!-- Review Comments DAO Bean -->
    <bean id="reviewCommentsDAOTarget" class="gov.epa.owm.mtb.cwns.dao.hibernate.ReviewCommentsDAOImpl">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
        <property name="searchDAO">
            <ref bean="searchDAO"/>
        </property>
    </bean>
    
    <bean id="reviewCommentsDAO" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces">
            <value>gov.epa.owm.mtb.cwns.dao.ReviewCommentsDAO</value>
        </property>
        <property name="interceptorNames">
            <list>
                <value>hibernateInterceptor</value>
                <value>reviewCommentsDAOTarget</value>
            </list>
        </property>
    </bean>
    
    <!-- Navigation Tabs DAO Bean -->
    <bean id="navigationTabsDAOTarget" class="gov.epa.owm.mtb.cwns.dao.hibernate.NavigationTabsDAOImpl">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>
        
    <bean id="navigationTabsDAO" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces">
            <value>gov.epa.owm.mtb.cwns.dao.NavigationTabsDAO</value>
        </property>
        <property name="interceptorNames">
            <list>
                <value>hibernateInterceptor</value>
                <value>navigationTabsDAOTarget</value>
            </list>
        </property>
    </bean>
    
    <!-- Facility Comments DAO Bean -->
    <bean id="facilityCommentsDAOTarget" class="gov.epa.owm.mtb.cwns.dao.hibernate.FacilityCommentsDAOImpl">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>
    
    <bean id="facilityCommentsDAO" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces">
            <value>gov.epa.owm.mtb.cwns.dao.FacilityCommentsDAO</value>
        </property>
        <property name="interceptorNames">
            <list>
                <value>hibernateInterceptor</value>
                <value>facilityCommentsDAOTarget</value>
            </list>
        </property>
    </bean>
    
    
    
    
  
    <!-- CwnsUserStatusRef DAO Bean -->    
    <bean id="cwnsUserStatusRefDAOTarget" class="gov.epa.owm.mtb.cwns.dao.hibernate.CwnsUserStatusRefDAOImpl">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>
    
    <bean id="cwnsUserStatusRefDAO" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces">
            <value>gov.epa.owm.mtb.cwns.dao.CwnsUserStatusRefDAO</value>
        </property>
        <property name="interceptorNames">
            <list>
                <value>hibernateInterceptor</value>
                <value>cwnsUserStatusRefDAOTarget</value>
            </list>
        </property>
    </bean>
      
  
    <!-- AccessLevelRef DAO Bean -->    
    <bean id="accessLevelRefDAOTarget" class="gov.epa.owm.mtb.cwns.dao.hibernate.AccessLevelRefDAOImpl">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>
    
    <bean id="accessLevelRefDAO" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces">
            <value>gov.epa.owm.mtb.cwns.dao.AccessLevelRefDAO</value>
        </property>
        <property name="interceptorNames">
            <list>
                <value>hibernateInterceptor</value>
                <value>accessLevelRefDAOTarget</value>
            </list>
        </property>
    </bean>
    
    <!-- Population DAO Bean  -->
    <bean id="populationDAOTarget" class="gov.epa.owm.mtb.cwns.dao.hibernate.PopulationDAOImpl">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>
    
    <bean id="populationDAO" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces">
            <value>gov.epa.owm.mtb.cwns.dao.PopulationDAO</value>
        </property>
        <property name="interceptorNames">
            <list>
                <value>hibernateInterceptor</value>
                <value>populationDAOTarget</value>
            </list>
        </property>
    </bean>
    
    <!-- Flow DAO Bean 
    <bean id="flowDAOTarget" class="gov.epa.owm.mtb.cwns.dao.hibernate.FlowDAOImpl">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>
    
    <bean id="flowDAO" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces">
            <value>gov.epa.owm.mtb.cwns.dao.FlowDAO</value>
        </property>
        <property name="interceptorNames">
            <list>
                <value>hibernateInterceptor</value>
                <value>flowDAOTarget</value>
            </list>
        </property>
    </bean> -->

    <!-- Needs DAO Bean  -->
    <bean id="needsDAOTarget" class="gov.epa.owm.mtb.cwns.dao.hibernate.NeedsDAOImpl">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>
    
    <bean id="needsDAO" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces">
            <value>gov.epa.owm.mtb.cwns.dao.NeedsDAO</value>
        </property>
        <property name="interceptorNames">
            <list>
                <value>hibernateInterceptor</value>
                <value>needsDAOTarget</value>
            </list>
        </property>
    </bean>
    
    <!-- CwnsUserLocation DAO Bean  -->
    <bean id="cwnsUserLocationDAOTarget" class="gov.epa.owm.mtb.cwns.dao.hibernate.CwnsUserLocationDAOImpl">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
        <property name="searchDAO">
            <ref bean="searchDAO"/>
        </property>
    </bean>
    
    <bean id="cwnsUserLocationDAO" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces">
            <value>gov.epa.owm.mtb.cwns.dao.CwnsUserLocationDAO</value>
        </property>
        <property name="interceptorNames">
            <list>
                <value>hibernateInterceptor</value>
                <value>cwnsUserLocationDAOTarget</value>
            </list>
        </property>
    </bean>
    
    <!-- CwnsUserLocationFaciltiy DAO Bean  -->
    <bean id="cwnsUserLocationFacilityDAOTarget" class="gov.epa.owm.mtb.cwns.dao.hibernate.CwnsUserLocationFacilityDAOImpl">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
        <property name="searchDAO">
            <ref bean="searchDAO"/>
        </property>
    </bean>
    
    <bean id="cwnsUserLocationFacilityDAO" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces">
            <value>gov.epa.owm.mtb.cwns.dao.CwnsUserLocationFacilityDAO</value>
        </property>
        <property name="interceptorNames">
            <list>
                <value>hibernateInterceptor</value>
                <value>cwnsUserLocationFacilityDAOTarget</value>
            </list>
        </property>
    </bean>
    

<!-- CwnsUserLocatnAccessLevel DAO Bean  -->  
     <bean id="cwnsUserLocatnAccessLevelDAOTarget" class="gov.epa.owm.mtb.cwns.dao.hibernate.CwnsUserLocatnAccessLevelDAOImpl">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
        <property name="searchDAO">
            <ref bean="searchDAO"/>
        </property>
    </bean>

    <bean id="cwnsUserLocatnAccessLevelDAO" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces">
            <value>gov.epa.owm.mtb.cwns.dao.CwnsUserLocatnAccessLevelDAO</value>
        </property>
        <property name="interceptorNames">
            <list>
                <value>hibernateInterceptor</value>
                <value>cwnsUserLocatnAccessLevelDAOTarget</value>
            </list>
        </property>
    </bean> 
    
    <!-- Funding DAO Bean  -->
    <bean id="fundingDAOTarget" class="gov.epa.owm.mtb.cwns.dao.hibernate.FundingDAOImpl">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>
    
    <bean id="fundingDAO" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces">
            <value>gov.epa.owm.mtb.cwns.dao.FundingDAO</value>
        </property>
        <property name="interceptorNames">
            <list>
                <value>hibernateInterceptor</value>
                <value>fundingDAOTarget</value>
            </list>
        </property>
    </bean>    
        
</beans>
