<!--
	* @(#)applicationContext-service.xml  Mar 21, 2005
	*
	* Copyright 2005 Lockheed Martin
	* 1010 North Glebe Road, Arlington, VA, 22201, USA
	* All Rights Reserved
	*
	* This software is the confidential and propietary information of Lockheed
	* Martin ("Confidential Information").  You shall not disclose such
	* Confidential Information and shall use it only in accordance with the
	* terms of the license agreement you entered into with Lockheed Martin.
-->
<!--
	* Spring applicationContext file for Services
	* @author Pramod Kudva
	* @author Raj Lingam - Customized for CWNS Application
	* @version $Revision: 1.3 $
-->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-lazy-init="false" default-autowire="no" default-dependency-check="none">
	
	<!-- Cost Curve Services-->	
	<bean id="onsiteWastewaterTreatmentCostcurveService"
		class="gov.epa.owm.mtb.cwns.costcurve.service.OnsiteWastewaterTreatmentCostcurveService"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="searchDAO">
			<ref bean="searchDAO" />
		</property>
	</bean>	

	<bean id="treatmentPlantCostCurveService"
		class="gov.epa.owm.mtb.cwns.costcurve.service.TreatmentPlantCostCurveService"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="searchDAO">
			<ref bean="searchDAO" />
		</property>
	</bean>	

	<bean id="separateSewerCostCurveService"
		class="gov.epa.owm.mtb.cwns.costcurve.service.SeparateSewerCostCurveService"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="searchDAO">
			<ref bean="searchDAO" />
		</property>
	</bean>	

	<!-- Cost Curve Input Factories-->
    <bean id="costCurveInputProcessorFactory" 
		class="gov.epa.owm.mtb.cwns.costcurve.input.processor.CostCurveInputProcessorFactory"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">		
		<property name="newIndividualWastewaterTreatmentAllCostInputProcessor">
			<ref bean="newIndividualWastewaterTreatmentAllCostInputProcessor" />
		</property>							
		<property name="newIndividualWastewaterTreatmentConventionalCostInputProcessor">
			<ref bean="newIndividualWastewaterTreatmentConventionalCostInputProcessor" />
		</property>					
		<property name="newIndividualWastewaterTreatmentInnovativeCostInputProcessor">
			<ref bean="newIndividualWastewaterTreatmentInnovativeCostInputProcessor" />
		</property>					
		<property name="newClusterWastewaterTreatmentCostInputProcessor">
			<ref bean="newClusterWastewaterTreatmentCostInputProcessor" />
		</property>	
		<property name="rehabIndividualWastewaterTreatmentAllCostInputProcessor">
			<ref bean="rehabIndividualWastewaterTreatmentAllCostInputProcessor" />
		</property>																	
		<property name="rehabIndividualWastewaterTreatmentInnovativeCostInputProcessor">
			<ref bean="rehabIndividualWastewaterTreatmentInnovativeCostInputProcessor" />
		</property>
		<property name="rehabIndividualWastewaterTreatmentConventionalCostInputProcessor">
			<ref bean="rehabIndividualWastewaterTreatmentConventionalCostInputProcessor" />
		</property>				
		<property name="rehabClusterWastewaterTreatmenCostInputProcessor">
			<ref bean="rehabClusterWastewaterTreatmenCostInputProcessor" />
		</property>								
		<property name="newSeparateSewerCostInputProcessor">
			<ref bean="newSeparateSewerCostInputProcessor" />
		</property>							
		<property name="rehabSeparateSewerCostInputProcessor">
			<ref bean="rehabSeparateSewerCostInputProcessor" />
		</property>
		<property name="combinedSewerOverflowCostInputProcessor">
			<ref bean="combinedSewerOverflowCostInputProcessor" />
		</property>			
		<property name="wastewaterTreatmentPlantCostInputProcessor">
			<ref bean="wastewaterTreatmentPlantCostInputProcessor" />
		</property>	
	</bean>		

	<!-- Cost Curve InputProcessors-->	
	<bean id="newIndividualWastewaterTreatmentAllCostInputProcessor"
		class="gov.epa.owm.mtb.cwns.costcurve.input.processor.NewIndividualWastewaterTreatmentAllCostInputProcessor"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">		
		<property name="populationService">
			<ref bean="populationService" />
		</property>
	    <property name="facilityAddressService">
    	   <ref bean="facilityAddressService"/>
	    </property>       								          									
	</bean>		

	<bean id="newIndividualWastewaterTreatmentConventionalCostInputProcessor"
		class="gov.epa.owm.mtb.cwns.costcurve.input.processor.NewIndividualWastewaterTreatmentConventionalCostInputProcessor"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">		
		<property name="populationService">
			<ref bean="populationService" />
		</property>
	    <property name="facilityAddressService">
    	   <ref bean="facilityAddressService"/>
	    </property>       								          									
	</bean>		

	<bean id="newIndividualWastewaterTreatmentInnovativeCostInputProcessor"
		class="gov.epa.owm.mtb.cwns.costcurve.input.processor.NewIndividualWastewaterTreatmentInnovativeCostInputProcessor"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">		
		<property name="populationService">
			<ref bean="populationService" />
		</property>
	    <property name="facilityAddressService">
    	   <ref bean="facilityAddressService"/>
	    </property>       								          									
	</bean>	
		
	<bean id="newClusterWastewaterTreatmentCostInputProcessor"
		class="gov.epa.owm.mtb.cwns.costcurve.input.processor.NewClusterWastewaterTreatmentCostInputProcessor"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">		
		<property name="populationService">
			<ref bean="populationService" />
		</property>
	    <property name="facilityAddressService">
    	   <ref bean="facilityAddressService"/>
	    </property>       								          									
	</bean>	
	
	<bean id="rehabIndividualWastewaterTreatmentAllCostInputProcessor"
		class="gov.epa.owm.mtb.cwns.costcurve.input.processor.RehabIndividualWastewaterTreatmentAllCostInputProcessor"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">		
		<property name="populationService">
			<ref bean="populationService" />
		</property>
	    <property name="facilityAddressService">
    	   <ref bean="facilityAddressService"/>
	    </property>       								          									
	</bean>				

	<bean id="rehabIndividualWastewaterTreatmentInnovativeCostInputProcessor"
		class="gov.epa.owm.mtb.cwns.costcurve.input.processor.RehabIndividualWastewaterTreatmentInnovativeCostInputProcessor"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">		
		<property name="populationService">
			<ref bean="populationService" />
		</property>
	    <property name="facilityAddressService">
    	   <ref bean="facilityAddressService"/>
	    </property>       								          									
	</bean>				

	<bean id="rehabIndividualWastewaterTreatmentConventionalCostInputProcessor"
		class="gov.epa.owm.mtb.cwns.costcurve.input.processor.RehabIndividualWastewaterTreatmentConventionalCostInputProcessor"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">		
		<property name="populationService">
			<ref bean="populationService" />
		</property>
	    <property name="facilityAddressService">
    	   <ref bean="facilityAddressService"/>
	    </property>       								          									
	</bean>				

	<bean id="rehabClusterWastewaterTreatmenCostInputProcessor"
		class="gov.epa.owm.mtb.cwns.costcurve.input.processor.RehabClusterWastewaterTreatmenCostInputProcessor"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">		
		<property name="populationService">
			<ref bean="populationService" />
		</property>
	    <property name="facilityAddressService">
    	   <ref bean="facilityAddressService"/>
	    </property>       								          									
	</bean>				
	
	<bean id="newSeparateSewerCostInputProcessor"
		class="gov.epa.owm.mtb.cwns.costcurve.input.processor.NewSeparateSewerCostInputProcessor"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">		
		<property name="populationService">
			<ref bean="populationService" />
		</property>
	    <property name="facilityAddressService">
    	   <ref bean="facilityAddressService"/>
	    </property>       								          									
	</bean>		

	<bean id="rehabSeparateSewerCostInputProcessor"
		class="gov.epa.owm.mtb.cwns.costcurve.input.processor.RehabSeparateSewerCostInputProcessor"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">		
		<property name="populationService">
			<ref bean="populationService" />
		</property>
	    <property name="facilityAddressService">
    	   <ref bean="facilityAddressService"/>
	    </property>       								          									
	</bean>				
	
	<bean id="combinedSewerOverflowCostInputProcessor"
		class="gov.epa.owm.mtb.cwns.costcurve.input.processor.CombinedSewerOverflowCostInputProcessor"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">		
		<property name="populationService">
			<ref bean="populationService" />
		</property>
        <property name="csoService">
			<ref bean="csoService" />
		</property>
      	<property name="flowService">
         	<ref bean="flowService"/>
      	</property>
	    <property name="dischargeService">
    	   <ref bean="dischargeService"/>
	    </property> 
		<property name="searchDAO">
			<ref bean="searchDAO" />
		</property>
	    <property name="facilityDAO">
    	   <ref bean="facilityDAO"/>
	    </property>       								          							
	</bean>	

	<bean id="wastewaterTreatmentPlantCostInputProcessor"
		class="gov.epa.owm.mtb.cwns.costcurve.input.processor.WastewaterTreatmentPlantCostInputProcessor"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">	
		<property name="effluentService">
			<ref bean="effluentService" />
		</property>		
		<property name="facilityAddressService">
			<ref bean="facilityAddressService" />
		</property>	
		<property name="populationService">
			<ref bean="populationService" />
		</property>
      	<property name="flowService">
         	<ref bean="flowService"/>
      	</property>
	    <property name="facilityDAO">
    	   <ref bean="facilityDAO"/>
	    </property>       							
	</bean>	
	
	<!-- Cost Curve Algorithms-->	
    <bean id="costCurveAlgorithmFactory" 
		class="gov.epa.owm.mtb.cwns.costcurve.algorithm.CostCurveAlgorithmFactory"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">			
		<property name="newIndividualWastewaterTreatmentAllAlgorithm">
			<ref bean="newIndividualWastewaterTreatmentAllAlgorithm" />
		</property>			
		<property name="newIndividualWastewaterTreatmentInnovativeAlgorithm">
			<ref bean="newIndividualWastewaterTreatmentInnovativeAlgorithm" />
		</property>					
		<property name="newIndividualWastewaterTreatmentConventionalAlgorithm">
			<ref bean="newIndividualWastewaterTreatmentConventionalAlgorithm" />
		</property>					
		<property name="newClusterWastewaterTreatmentAlgorithm">
			<ref bean="newClusterWastewaterTreatmentAlgorithm"/>
		</property>									
		<property name="rehabIndividualWastewaterTreatmentAllAlgorithm">
			<ref bean="rehabIndividualWastewaterTreatmentAllAlgorithm" />
		</property>					
		<property name="rehabIndividualWastewaterTreatmentInnovativeAlgorithm">
			<ref bean="rehabIndividualWastewaterTreatmentInnovativeAlgorithm" />
		</property>	
		<property name="rehabIndividualWastewaterTreatmentConventionalAlgorithm">
			<ref bean="rehabIndividualWastewaterTreatmentConventionalAlgorithm" />
		</property>	
		<property name="rehabClusterWastewaterTreatmentAlgorithm">
			<ref bean="rehabClusterWastewaterTreatmentAlgorithm" />
		</property>											
		<property name="newExpandSeparateSewerCollectorAlgorithm">
			<ref bean="newExpandSeparateSewerCollectorAlgorithm" />
		</property>									
		<property name="newExpandSeparateSewerInterceptorAlgorithm">
			<ref bean="newExpandSeparateSewerInterceptorAlgorithm" />
		</property>											
		<property name="rehabSeparateSewerlAlgorithm">
			<ref bean="rehabSeparateSewerlAlgorithm" />
		</property>	
		<property name="combinedSewerOverflowAlgorithm">
			<ref bean="combinedSewerOverflowAlgorithm" />
		</property>					
		<property name="newTreatmentPlantAlgorithm">
			<ref bean="newTreatmentPlantAlgorithm" />
		</property>		
		<property name="increaseCapacityAlgorithm">
			<ref bean="increaseCapacityAlgorithm" />
		</property>				
		<property name="increaseLevelTreatmentAlgorithm">
			<ref bean="increaseLevelTreatmentAlgorithm" />
		</property>
		<property name="increaseTreatmentCapacityAlgorithm">
			<ref bean="increaseTreatmentCapacityAlgorithm" />
		</property>	
		<property name="disinfectionOnlyAlgorithm">
			<ref bean="disinfectionOnlyAlgorithm" />
		</property>																
	</bean>		

	<bean id="newIndividualWastewaterTreatmentAllAlgorithm"
		class="gov.epa.owm.mtb.cwns.costcurve.algorithm.NewIndividualWastewaterTreatmentAllAlgorithm"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="onsiteWastewaterTreatmentCostcurveService">
			<ref bean="onsiteWastewaterTreatmentCostcurveService" />
		</property>		
	</bean>	
		
	<bean id="newIndividualWastewaterTreatmentInnovativeAlgorithm"
		class="gov.epa.owm.mtb.cwns.costcurve.algorithm.NewIndividualWastewaterTreatmentInnovativeAlgorithm"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="onsiteWastewaterTreatmentCostcurveService">
			<ref bean="onsiteWastewaterTreatmentCostcurveService" />
		</property>		
	</bean>	

	<bean id="newIndividualWastewaterTreatmentConventionalAlgorithm"
		class="gov.epa.owm.mtb.cwns.costcurve.algorithm.NewIndividualWastewaterTreatmentConventionalAlgorithm"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="onsiteWastewaterTreatmentCostcurveService">
			<ref bean="onsiteWastewaterTreatmentCostcurveService" />
		</property>		
	</bean>	

	<bean id="newClusterWastewaterTreatmentAlgorithm"
		class="gov.epa.owm.mtb.cwns.costcurve.algorithm.NewClusterWastewaterTreatmentAlgorithm"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="onsiteWastewaterTreatmentCostcurveService">
			<ref bean="onsiteWastewaterTreatmentCostcurveService" />
		</property>		
	</bean>	

	<bean id="rehabIndividualWastewaterTreatmentAllAlgorithm"
		class="gov.epa.owm.mtb.cwns.costcurve.algorithm.RehabIndividualWastewaterTreatmentAllAlgorithm"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="onsiteWastewaterTreatmentCostcurveService">
			<ref bean="onsiteWastewaterTreatmentCostcurveService" />
		</property>		
	</bean>	

	<bean id="rehabIndividualWastewaterTreatmentInnovativeAlgorithm"
		class="gov.epa.owm.mtb.cwns.costcurve.algorithm.RehabIndividualWastewaterTreatmentInnovativeAlgorithm"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="onsiteWastewaterTreatmentCostcurveService">
			<ref bean="onsiteWastewaterTreatmentCostcurveService" />
		</property>		
	</bean>	

	<bean id="rehabIndividualWastewaterTreatmentConventionalAlgorithm"
		class="gov.epa.owm.mtb.cwns.costcurve.algorithm.RehabIndividualWastewaterTreatmentConventionalAlgorithm"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="onsiteWastewaterTreatmentCostcurveService">
			<ref bean="onsiteWastewaterTreatmentCostcurveService" />
		</property>		
	</bean>	

	<bean id="rehabClusterWastewaterTreatmentAlgorithm"
		class="gov.epa.owm.mtb.cwns.costcurve.algorithm.RehabClusterWastewaterTreatmentAlgorithm"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="onsiteWastewaterTreatmentCostcurveService">
			<ref bean="onsiteWastewaterTreatmentCostcurveService" />
		</property>		
	</bean>	
	
	<bean id="newExpandSeparateSewerCollectorAlgorithm"
		class="gov.epa.owm.mtb.cwns.costcurve.algorithm.NewExpandSeparateSewerCollectorAlgorithm"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="separateSewerCostCurveService">
			<ref bean="separateSewerCostCurveService" />
		</property>		
	</bean>
			  	
	<bean id="newExpandSeparateSewerInterceptorAlgorithm"
		class="gov.epa.owm.mtb.cwns.costcurve.algorithm.NewExpandSeparateSewerInterceptorAlgorithm"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="separateSewerCostCurveService">
			<ref bean="separateSewerCostCurveService" />
		</property>		
	</bean>		

	<bean id="rehabSeparateSewerlAlgorithm"
		class="gov.epa.owm.mtb.cwns.costcurve.algorithm.RehabSeparateSewerlAlgorithm"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="separateSewerCostCurveService">
			<ref bean="separateSewerCostCurveService" />
		</property>		
	</bean>	
	
	<bean id="combinedSewerOverflowAlgorithm"
		class="gov.epa.owm.mtb.cwns.costcurve.algorithm.CombinedSewerOverflowAlgorithm"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
	</bean>	
	
	<bean id="newTreatmentPlantAlgorithm"
		class="gov.epa.owm.mtb.cwns.costcurve.algorithm.NewTreatmentPlantAlgorithm"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="treatmentPlantCostCurveService">
			<ref bean="treatmentPlantCostCurveService" />
		</property>
	</bean>	
	
	<bean id="increaseCapacityAlgorithm"
		class="gov.epa.owm.mtb.cwns.costcurve.algorithm.IncreaseCapacityAlgorithm"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="treatmentPlantCostCurveService">
			<ref bean="treatmentPlantCostCurveService" />
		</property>
	</bean>	
	
	<bean id="increaseLevelTreatmentAlgorithm"
		class="gov.epa.owm.mtb.cwns.costcurve.algorithm.IncreaseTreatmentAlgorithm"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="treatmentPlantCostCurveService">
			<ref bean="treatmentPlantCostCurveService" />
		</property>
	</bean>	
	
	<bean id="increaseTreatmentCapacityAlgorithm"
		class="gov.epa.owm.mtb.cwns.costcurve.algorithm.IncreaseTreatmentCapacityAlgorithm"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="treatmentPlantCostCurveService">
			<ref bean="treatmentPlantCostCurveService" />
		</property>
	</bean>		
	<bean id="disinfectionOnlyAlgorithm"
		class="gov.epa.owm.mtb.cwns.costcurve.algorithm.DisinfectionOnlyAlgorithm"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="treatmentPlantCostCurveService">
			<ref bean="treatmentPlantCostCurveService" />
		</property>
	</bean>			
</beans>