<!--
	* @(#)applicationContext-service.xml  Mar 21, 2005
	*
	* Copyright 2005 Lockheed Martin
	* 1010 North Glebe Road, Arlington, VA, 22201, USA
	* All Rights Reserved
	*
	* This software is the confidential and propietary information of Lockheed
	* Martin ("Confidential Information").  You shall not disclose such
	* Confidential Information and shall use it only in accordance with the
	* terms of the license agreement you entered into with Lockheed Martin.
-->
<!--
	* Spring applicationContext file for Services
	* @author Pramod Kudva
	* @author Raj Lingam - Customized for CWNS Application
	* @version $Revision: 1.3 $
-->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-lazy-init="false" default-autowire="no" default-dependency-check="none">

	<!--
		Create an instance of DefaultAdvisorAutoProxyCreator for 'auto-advising'
	-->

	<bean id="autoProxy"
		class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator">
	</bean>
	
	<!-- 
		***********************************
		*  Define Advisors
		***********************************
	-->
	
	<!-- 
        Hibernate Transactions Advisor
     -->
	

	<bean id="transactionAdvisor"
		class="org.springframework.transaction.interceptor.TransactionAttributeSourceAdvisor">
		<constructor-arg>
			<ref bean="transactionInterceptor" />
		</constructor-arg>
	</bean>

	<bean id="transactionInterceptor"
		class="org.springframework.transaction.interceptor.TransactionInterceptor">

		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>

		<property name="transactionAttributeSource">
			<ref bean="transactionAttributeSource" />
		</property>
	</bean>

	<bean id="transactionAttributeSource"
		class="org.springframework.transaction.interceptor.MethodMapTransactionAttributeSource">
		<property name="methodMap">
			<map>
				<entry
					key="gov.epa.owm.mtb.cwns.service.FacilityService.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>
				<entry
					key="gov.epa.owm.mtb.cwns.service.UnitProcessService.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>				
				<entry
					key="gov.epa.owm.mtb.cwns.service.UtilityManagementService.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>				
				<entry
					key="gov.epa.owm.mtb.cwns.service.CapitalCostService.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>				
				<entry
					key="gov.epa.owm.mtb.cwns.service.CostCurvePopulationService.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>				
				<entry
					key="gov.epa.owm.mtb.cwns.service.OandMService.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>						
				<entry
					key="gov.epa.owm.mtb.cwns.service.PollutionService.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>				
				<entry
					key="gov.epa.owm.mtb.cwns.service.ManageCostCurveService.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>				
				<entry
					key="gov.epa.owm.mtb.cwns.service.FacilityTypeService.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>				
				<entry
					key="gov.epa.owm.mtb.cwns.service.SummaryService.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>
				<entry 
				    key="gov.epa.owm.mtb.cwns.service.ReviewStatusRefService.*">
				    <value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>
				<entry
					key="gov.epa.owm.mtb.cwns.service.FacilityCommentsService.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>
				<entry
					key="gov.epa.owm.mtb.cwns.service.ReviewCommentsService.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>				
				<entry
					key="gov.epa.owm.mtb.cwns.service.UserService.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>
				<entry
					key="gov.epa.owm.mtb.cwns.service.FlowService.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>
				<entry
					key="gov.epa.owm.mtb.cwns.service.DocumentService.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>
				<entry
					key="gov.epa.owm.mtb.cwns.service.PopulationService.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>
				<entry
					key="gov.epa.owm.mtb.cwns.service.FacilityAddressService.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>
				<entry
					key="gov.epa.owm.mtb.cwns.service.NeedsService.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>
				<entry
					key="gov.epa.owm.mtb.cwns.service.FundingService.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>
				<entry
					key="gov.epa.owm.mtb.cwns.service.ImpairedWatersService.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>				
  				<entry
					key="gov.epa.owm.mtb.cwns.service.CSOService.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>
				<entry
					key="gov.epa.owm.mtb.cwns.service.PocService.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>
				<entry
					key="gov.epa.owm.mtb.cwns.service.FESService.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>
				<entry
					key="gov.epa.owm.mtb.cwns.fes.GeographicValidator.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>
				<entry
					key="gov.epa.owm.mtb.cwns.fes.CSOValidator.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>
				<entry
					key="gov.epa.owm.mtb.cwns.fes.PollutionValidator.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>
				<entry
					key="gov.epa.owm.mtb.cwns.fes.FacilityValidator.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>
				<entry
					key="gov.epa.owm.mtb.cwns.fes.PointOfContactValidator.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>
				<entry
					key="gov.epa.owm.mtb.cwns.fes.FlowValidator.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>
				<entry
					key="gov.epa.owm.mtb.cwns.fes.PermitValidator.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>
				<entry
					key="gov.epa.owm.mtb.cwns.fes.PopulationValidator.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>
				<entry
					key="gov.epa.owm.mtb.cwns.fes.DischargeValidator.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>
				<entry
					key="gov.epa.owm.mtb.cwns.fes.NeedsValidator.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>
				<entry
					key="gov.epa.owm.mtb.cwns.fes.UnitProcessValidator.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>
				<entry
					key="gov.epa.owm.mtb.cwns.fes.EffluentValidator.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>
				<entry
					key="gov.epa.owm.mtb.cwns.fes.UtilityManagementValidator.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>
				<entry
					key="gov.epa.owm.mtb.cwns.fes.FESValidatorFactory.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>
				<entry
					key="gov.epa.owm.mtb.cwns.fes.FESManager.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>	
				<entry
					key="gov.epa.owm.mtb.cwns.costcurvevalidation.CCValidationManager.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>
				<entry
					key="gov.epa.owm.mtb.cwns.costcurvevalidation.CostCurveValidatorFactory.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>
				<entry
					key="gov.epa.owm.mtb.cwns.costcurvevalidation.FacilityCCValidator.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>
				<entry
					key="gov.epa.owm.mtb.cwns.costcurvevalidation.LocationCCValidator.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>				
				<entry
					key="gov.epa.owm.mtb.cwns.costcurvevalidation.PopulationCCValidator.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>
				<entry
					key="gov.epa.owm.mtb.cwns.costcurvevalidation.FlowCCValidator.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>
				<entry
					key="gov.epa.owm.mtb.cwns.costcurvevalidation.EffluentCCValidator.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>
				<entry
					key="gov.epa.owm.mtb.cwns.costcurvevalidation.DischargeCCValidator.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>
				<entry
					key="gov.epa.owm.mtb.cwns.costcurvevalidation.CombinedSewerCCValidator.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>																
				<entry
					key="gov.epa.owm.mtb.cwns.costcurvevalidation.NeedsCCValidator.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>


				<entry
					key="gov.epa.owm.mtb.cwns.service.DischargeService.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>
				<entry
					key="gov.epa.owm.mtb.cwns.service.EffluentService.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>
				<entry
					key="gov.epa.owm.mtb.cwns.service.FacilityPermitService.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>
				<entry
					key="gov.epa.owm.mtb.cwns.service.CostCurveService.*">
					<value>
						PROPAGATION_REQUIRED,ISOLATION_READ_COMMITTED
					</value>
				</entry>
				
			</map>
		</property>
	</bean>


    <!-- 
        Logging cwns exceptions advisor
     -->

	<bean id="loggingInterceptor"
		class="gov.epa.owm.mtb.cwns.common.exceptions.ExceptionHandler" />

	<bean id="loggingAdvisor"
		class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
		<property name="advice">
			<ref local="loggingInterceptor" />
		</property>
		<property name="patterns">
			<list>
				<value>.*epa.*</value>
			</list>
		</property>
	</bean>

	<!-- 
		***********************************
		*  Define Sevices
		***********************************
	-->
	
	<!-- Facility Service -->
	<bean id="facilityService"
		class="gov.epa.owm.mtb.cwns.service.impl.FacilityServiceImpl"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
        <property name="cwnsInfoLocationRefDAO">
			<ref bean="cwnsInfoLocationRefDAO" />
		</property>
        <property name="reviewStatusRefService">
			<ref bean="reviewStatusRefService" />
		</property>
		<property name="facilityDAO">
			<ref bean="facilityDAO" />
		</property>
		<property name="cwnsUserSettingDAO">
			<ref bean="cwnsUserSettingDAO" />
		</property>
		<property name="reviewStatusRefDAO">
			<ref bean="reviewStatusRefDAO" />
		</property>
		<property name="searchDAO">
			<ref bean="searchDAO" />
		</property>
		<property name="facilityTypeService">
			<ref bean="facilityTypeService" />
		</property>
		<property name="userService">
			<ref bean="userService" />
		</property>		
		<property name="fesManager">
			<ref bean="fesManager" />
		</property>	
		<property name="populationService">
			<ref bean="populationService" />
		</property>
		<property name="ccValidationManager">
			<ref bean="ccValidationManager" />
		</property>
		<property name="costCurveService">
			<ref bean="costCurveService" />
		</property>
		<property name="cwnsUserLocationFacilityDAO">
			<ref bean="cwnsUserLocationFacilityDAO" />
		</property>
		<property name="cwnsUserLocatnAccessLevelDAO">
			<ref bean="cwnsUserLocatnAccessLevelDAO" />
		</property>
		<property name="reviewCommentsDAO">
			<ref bean="reviewCommentsDAO" />
		</property>
	</bean>	
	
	<!-- Facility Type Service -->
	<bean id="facilityTypeService"
		class="gov.epa.owm.mtb.cwns.service.impl.FacilityTypeServiceImpl"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="searchDAO">
			<ref bean="searchDAO" />
		</property>
		<property name="populationService">
			<ref bean="populationService" />
		</property>
		<property name="fesService">
			<ref bean="fesService" />
		</property>		
	</bean>		
	
	<!-- Capital Cost Service -->
	<bean id="capitalCostService"
		class="gov.epa.owm.mtb.cwns.service.impl.CapitalCostServiceImpl"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="searchDAO">
			<ref bean="searchDAO" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>				
	</bean>		

	<!-- CostCurvePopulation Service -->
	<bean id="costCurvePopulationService"
		class="gov.epa.owm.mtb.cwns.service.impl.CostCurvePopulationServiceImpl"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="searchDAO">
			<ref bean="searchDAO" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>				
	</bean>		

	<!-- Unit Process Service -->
	<bean id="unitProcessService"
		class="gov.epa.owm.mtb.cwns.service.impl.UnitProcessServiceImpl"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="searchDAO">
			<ref bean="searchDAO" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>				
	</bean>		

	<!-- Utility Management Service -->
	<bean id="utilityManagementService"
		class="gov.epa.owm.mtb.cwns.service.impl.UtilityManagementServiceImpl"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="searchDAO">
			<ref bean="searchDAO" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>				
	</bean>		

	<!-- O and M Service -->
	<bean id="oandMService"
		class="gov.epa.owm.mtb.cwns.service.impl.OandMServiceImpl"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="searchDAO">
			<ref bean="searchDAO" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>				
	</bean>		

	<!-- Pollution Service -->
	<bean id="pollutionService"
		class="gov.epa.owm.mtb.cwns.service.impl.PollutionServiceImpl"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="searchDAO">
			<ref bean="searchDAO" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>				
	</bean>		
		
	<!-- Manage Cost Curve Service -->
	<bean id="manageCostCurveService"
		class="gov.epa.owm.mtb.cwns.service.impl.ManageCostCurveServiceImpl"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="searchDAO">
			<ref bean="searchDAO" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>			
		<property name="populationService">
			<ref bean="populationService" />
		</property>			
		<property name="navigationTabsService">
			<ref bean="navigationTabsService" />
		</property>				
		<property name="costCurveService">
			<ref bean="costCurveService" />
		</property>			
	</bean>		
		
	<!-- Announcement Service -->
	<bean id="announcementService"
		class="gov.epa.owm.mtb.cwns.service.impl.AnnouncementServiceImpl"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="announcementDAO">
			<ref bean="announcementDAO" />
		</property>
		<property name="searchDAO">
			<ref bean="searchDAO" />
		</property>
	</bean>	
	
	<!-- Review Status Type Service -->
	<bean id="reviewStatusRefService"
		class="gov.epa.owm.mtb.cwns.service.impl.ReviewStatusRefServiceImpl"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="reviewStatusRefDAO">
			<ref bean="reviewStatusRefDAO" />
		</property>
		<property name="searchDAO">
			<ref bean="searchDAO" />
		</property>
		<property name="populationService">
			<ref bean="populationService" />
		</property>
		<property name="facilityAddressService">
			<ref bean="facilityAddressService" />
		</property>
	</bean>	
	
	<!-- Summary Service -->
	<bean id="summaryService"
		class="gov.epa.owm.mtb.cwns.service.impl.SummaryServiceImpl"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="summaryDAO">
			<ref bean="summaryDAO" />
		</property>
	</bean>		

	<!-- User Service -->
	<bean id="userService"
		class="gov.epa.owm.mtb.cwns.service.impl.UserServiceImpl"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="searchDAO">
			<ref bean="searchDAO" />
		</property>
		<property name="cwnsUserDAO">
			<ref bean="cwnsUserDAO" />
		</property>
		<property name="cwnsUserStatusRefDAO">
			<ref bean="cwnsUserStatusRefDAO" />
		</property>
		<property name="accessLevelRefDAO">
			<ref bean="accessLevelRefDAO" />
		</property>
		<property name="cwnsUserLocationDAO">
			<ref  bean="cwnsUserLocationDAO" />
		</property>
		<property name="cwnsUserLocatnAccessLevelDAO">
			<ref  bean="cwnsUserLocatnAccessLevelDAO" />
		</property>
	</bean>		
	
	<!--  requestProcessor
		  This is not actually a service but for now we will wire 
		  the bean here as apposed to creating another xml file.
		  04/10/07 MNC -->
		  
  	<bean name="requestProcessor" 
    	class="gov.epa.owm.mtb.cwns.common.CWNSRequestProcessor"
    	abstract="false"  lazy-init="default"
		autowire="default" dependency-check="default">
    	
        <property name="userService">
			<ref bean="userService" />
		</property>
   </bean>	
   	
	<!-- Review Comments Service -->
	<bean id="reviewCommentsService"
		class="gov.epa.owm.mtb.cwns.service.impl.ReviewCommentsServiceImpl"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="reviewCommentsDAO">
			<ref bean="reviewCommentsDAO" />
		</property>
        <property name="userService">
			<ref bean="userService" />
		</property>
		<property name="searchDAO">
			<ref bean="searchDAO" />
		</property>		
	</bean>		
	
	<!-- Navigation Tabs Service -->
	<bean id="navigationTabsService"
		class="gov.epa.owm.mtb.cwns.service.impl.NavigationTabsServiceImpl"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="navigationTabsDAO">
			<ref bean="navigationTabsDAO" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
	</bean>	
	
	<!-- Population Service -->
	<bean id="populationService"
		class="gov.epa.owm.mtb.cwns.service.impl.PopulationServiceImpl"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="populationDAO">
			<ref bean="populationDAO" />
		</property>
		<property name="searchDAO">
			<ref bean="searchDAO" />
		</property>
		
	</bean>	
	
	<!-- Flow Service -->
	<bean id="flowService"
		class="gov.epa.owm.mtb.cwns.service.impl.FlowServiceImpl"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<!--  <property name="flowDAO">
			<ref bean="flowDAO" />
		</property>-->
		<property name="searchDAO">
			<ref bean="searchDAO" />
		</property>
		<property name="populationService">
			<ref bean="populationService" />
		</property>					
	</bean>
	
	<!-- Document Service -->
	<bean id="documentService"
		class="gov.epa.owm.mtb.cwns.service.impl.DocumentServiceImpl"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="searchDAO">
			<ref bean="searchDAO" />
		</property>			
	</bean>				

	<!-- Needs Service -->
	<bean id="needsService"
		class="gov.epa.owm.mtb.cwns.service.impl.NeedsServiceImpl"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="needsDAO">
			<ref bean="needsDAO" />
		</property>
		<property name="searchDAO">
			<ref bean="searchDAO" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>			
	</bean>	
	
	<!-- Funding Service -->
	<bean id="fundingService"
		class="gov.epa.owm.mtb.cwns.service.impl.FundingServiceImpl"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="fundingDAO">
			<ref bean="fundingDAO" />
		</property>
		<property name="searchDAO">
			<ref bean="searchDAO" />
		</property>		
	</bean>	

	<!-- ImpairedWaters Service -->
	<bean id="impairedWatersService"
		class="gov.epa.owm.mtb.cwns.service.impl.ImpairedWatersServiceImpl"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="searchDAO">
			<ref bean="searchDAO" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>			
	</bean>	
	
	<!-- Facility Comments Service -->
	<bean id="facilityCommentsService"
		class="gov.epa.owm.mtb.cwns.service.impl.FacilityCommentsServiceImpl"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="facilityCommentsDAO">
			<ref bean="facilityCommentsDAO" />
		</property>
		<property name="searchDAO">
			<ref bean="searchDAO" />
		</property>
		<property name="facilityDAO">
			<ref bean="facilityDAO" />
		</property>
	</bean>	
	
	<!-- Facility Address Service -->
	<bean id="facilityAddressService"
		class="gov.epa.owm.mtb.cwns.service.impl.FacilityAddressServiceImpl"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
        <property name="searchDAO">
			<ref bean="searchDAO" />
		</property>
		<property name="facilityDAO">
			<ref bean="facilityDAO" />
		</property>
	</bean>
	
	<!-- Facility Effluent Service -->
	<bean id="effluentService"
		class="gov.epa.owm.mtb.cwns.service.impl.EffluentServiceImpl"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
        <property name="searchDAO">
			<ref bean="searchDAO" />
		</property>
		<property name="facilityDAO">
			<ref bean="facilityDAO" />
		</property>	
	</bean>				

	<!-- Mail Service -->
	
	<bean id="mailService"
		class="gov.epa.owm.mtb.cwns.service.impl.MailServiceImpl"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		 <property name="mailSender">
		  	<ref bean="mailSender"/>
		 </property>
  		 <property name="message">
  		 	<ref bean="mailMessage"/>
  		 </property>
		<property name="userService">
			<ref bean="userService" />
		</property>		
	</bean>

	<!-- CSO Service -->
	<bean id="csoService"
		class="gov.epa.owm.mtb.cwns.service.impl.CSOServiceImpl"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="searchDAO">
			<ref bean="searchDAO" />
		</property>
		<property name="populationService">
			<ref bean="populationService" />
 	    </property>
	</bean>	

	<!-- POC Service -->
	<bean id="pocService"
		class="gov.epa.owm.mtb.cwns.service.impl.PocServiceImpl"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="searchDAO">
			<ref bean="searchDAO" />
		</property>
        <property name="facilityService">
			<ref bean="facilityService" />
		</property>
	</bean>	


	<!-- Discharge Service -->
	<bean id="dischargeService"
		class="gov.epa.owm.mtb.cwns.service.impl.DischargeServiceImpl"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="searchDAO">
			<ref bean="searchDAO" />
		</property>
        <property name="facilityDAO">
			<ref bean="facilityDAO" />
		</property>
        <property name="flowService">
			<ref bean="flowService" />
		</property>		
		<property name="populationService">
			<ref bean="populationService" />
 	    </property>
 	    <property name="facilityTypeService">
			<ref bean="facilityTypeService" />
 	    </property>
 	    <property name="effluentService">
			<ref bean="effluentService" />
 	    </property>
 	    
	</bean>	
	
	<bean id="costCurveService"  
		class="gov.epa.owm.mtb.cwns.service.impl.CostCurveServiceImpl"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="costCurveInputProcessorFactory"> 
			<ref bean="costCurveInputProcessorFactory" />
		</property>
		<property name="costCurveAlgorithmFactory"> 
			<ref bean="costCurveAlgorithmFactory" />
		</property>
		<property name="searchDAO">
			<ref bean="searchDAO" />
		</property>	
		<property name="facilityDAO">
			<ref bean="facilityDAO" />
		</property>	
		<property name="fesManager">
			<ref bean="fesManager" />
		</property>		
	</bean>	
	
	
	
	<!-- FES Service/Validators -->
	
	<bean id="fesService"
		class="gov.epa.owm.mtb.cwns.service.impl.FESServiceImpl"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="searchDAO">
			<ref bean="searchDAO"/>
		</property>
	</bean>		
	
	<bean id="fesManager"
		class="gov.epa.owm.mtb.cwns.fes.FESManager"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
        <property name="fesService">
			<ref bean="fesService" />
		</property>
	</bean>	

	<bean id="fesValidatorFactory"
		class="gov.epa.owm.mtb.cwns.fes.FESValidatorFactory"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
        <property name="facilityValidator">
			<ref bean="facilityValidator" />
		</property>
		<property name="pocValidator">
			<ref bean="pocValidator" />
		</property>
		<property name="geographicValidator">
			<ref bean="geographicValidator" />
		</property>
		<property name="pollutionValidator">
			<ref bean="pollutionValidator" />
		</property>
		<property name="csoValidator">
			<ref bean="csoValidator" />
		</property>
		<property name="flowValidator">
			<ref bean="flowValidator" />
		</property>
		<property name="permitValidator">
			<ref bean="permitValidator" />
		</property>
		<property name="dischargeValidator">
			<ref bean="dischargeValidator" />
		</property>
		<property name="needsValidator">
			<ref bean="needsValidator" />
		</property>
		<property name="unitProcessValidator">
			<ref bean="unitProcessValidator" />
		</property>
		<property name="utilityManagementValidator">
			<ref bean="utilityManagementValidator" />
		</property>
		<property name="effluentValidator">
			<ref bean="effluentValidator" />
		</property>
		<property name="populationValidator">
			<ref bean="populationValidator" />
		</property>		
	</bean>		
		
	<bean id="facilityValidator"
		class="gov.epa.owm.mtb.cwns.fes.FacilityValidator"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
        <property name="fesService">
			<ref bean="fesService" />
		</property>
	    <property name="facilityCommentsService">
			<ref bean="facilityCommentsService" />
		</property>
        <property name="facilityTypeService">
			<ref bean="facilityTypeService" />
		</property>		
	</bean>
	
	<bean id="pocValidator"
		class="gov.epa.owm.mtb.cwns.fes.PointOfContactValidator"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
        <property name="fesService">
			<ref bean="fesService" />
		</property>
	    <property name="pocService">
			<ref bean="pocService" />
		</property>
	</bean>
	
	<bean id="geographicValidator"
		class="gov.epa.owm.mtb.cwns.fes.GeographicValidator"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
        <property name="fesService">
			<ref bean="fesService" />
		</property>
	    <property name="facilityAddressService">
			<ref bean="facilityAddressService" />
		</property>
		<property name="facilityTypeService">
			<ref bean="facilityTypeService" />
		</property>	
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
	    <property name="facilityCommentsService">
			<ref bean="facilityCommentsService" />
		</property>	
	</bean>	
		
	<bean id="pollutionValidator"
		class="gov.epa.owm.mtb.cwns.fes.PollutionValidator"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
        <property name="fesService">
			<ref bean="fesService" />
		</property>
	    <property name="impairedWatersService">
			<ref bean="impairedWatersService" />
		</property>
		<property name="pollutionService">
			<ref bean="pollutionService" />
		</property>
	</bean>
	
	<bean id="csoValidator"
		class="gov.epa.owm.mtb.cwns.fes.CSOValidator"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
        <property name="fesService">
			<ref bean="fesService" />
		</property>
	    <property name="csoService">
			<ref bean="csoService" />
		</property>
        <property name="populationService">
			<ref bean="populationService" />
		</property>	
		<property name="facilityTypeService">
			<ref bean="facilityTypeService" />
		</property>	
		<property name="costCurveService">
			<ref bean="costCurveService" />
		</property>
		<property name="capitalCostService">
			<ref bean="capitalCostService" />
		</property>		
	</bean>	
	
	<bean id="permitValidator"
		class="gov.epa.owm.mtb.cwns.fes.PermitValidator"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
        <property name="fesService">
			<ref bean="fesService" />
		</property>
	    <property name="facilityPermitService">
			<ref bean="facilityPermitService" />
		</property>
        <property name="facilityService">
			<ref bean="facilityService" />
		</property>	
		<property name="facilityTypeService">
			<ref bean="facilityTypeService" />
		</property>	
		<property name="dischargeService">
			<ref bean="dischargeService" />
		</property>
	</bean>	
	
	<bean id="flowValidator"
		class="gov.epa.owm.mtb.cwns.fes.FlowValidator"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
        <property name="fesService">
			<ref bean="fesService" />
		</property>
	    <property name="flowService">
			<ref bean="flowService" />
		</property>
	    <property name="facilityCommentsService">
			<ref bean="facilityCommentsService" />
		</property>		
		<property name="facilityTypeService">
			<ref bean="facilityTypeService" />
		</property>	
	</bean>	

	<bean id="populationValidator"
		class="gov.epa.owm.mtb.cwns.fes.PopulationValidator"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
        <property name="fesService">
			<ref bean="fesService" />
		</property>
	    <property name="populationService">
			<ref bean="populationService" />
		</property>
	    <property name="facilityCommentsService">
			<ref bean="facilityCommentsService" />
		</property>		
	</bean>
	
	<bean id="effluentValidator"
		class="gov.epa.owm.mtb.cwns.fes.EffluentValidator"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
        <property name="fesService">
			<ref bean="fesService" />
		</property>
	    <property name="effluentService">
			<ref bean="effluentService" />
		</property>
		<property name="facilityTypeService">
			<ref bean="facilityTypeService" />
		</property>	
		<property name="dischargeService">
			<ref bean="dischargeService" />
		</property>	
	</bean>
	
	<bean id="dischargeValidator"
		class="gov.epa.owm.mtb.cwns.fes.DischargeValidator"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
        <property name="fesService">
			<ref bean="fesService" />
		</property>
		<property name="facilityPermitService">
			<ref bean="facilityPermitService" />
		</property>
		<property name="facilityTypeService">
			<ref bean="facilityTypeService" />
		</property>	
		<property name="dischargeService">
			<ref bean="dischargeService" />
		</property>	
		 <property name="facilityService">
			<ref bean="facilityService" />
		</property>	
	    <property name="effluentService">
			<ref bean="effluentService" />
		</property>
		 <property name="facilityCommentsService">
			<ref bean="facilityCommentsService" />
		</property>	
	</bean>	
	<bean id="needsValidator"
		class="gov.epa.owm.mtb.cwns.fes.NeedsValidator"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
        <property name="fesService">
			<ref bean="fesService" />
		</property>
		<property name="facilityTypeService">
			<ref bean="facilityTypeService" />
		</property>	
		 <property name="facilityService">
			<ref bean="facilityService" />
		</property>	
		<property name="capitalCostService">
			<ref bean="capitalCostService" />
		</property>
		<property name="needsService">
			<ref bean="needsService" />
		</property>	
	    <property name="csoService">
			<ref bean="csoService" />
		</property>
		<property name="effluentService">
			<ref bean="effluentService" />
		</property>
		<property name="populationService">
			<ref bean="populationService" />
		</property>
		<property name="costCurveService">
			<ref bean="costCurveService" />
		</property>
	</bean>

	<bean id="unitProcessValidator"
		class="gov.epa.owm.mtb.cwns.fes.UnitProcessValidator"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
        <property name="fesService">
			<ref bean="fesService" />
		</property>
		 <property name="facilityService">
			<ref bean="facilityService" />
		</property>	
		<property name="unitProcessService">
			<ref bean="unitProcessService" />
		</property>
	</bean>	

	<bean id="utilityManagementValidator"
		class="gov.epa.owm.mtb.cwns.fes.UtilityManagementValidator"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
        <property name="fesService">
			<ref bean="fesService" />
		</property>
		<property name="utilityManagementService">
			<ref bean="utilityManagementService" />
		</property>
	</bean>				
	
	<!-- Cost Curve Validation -->
	<bean id="ccValidationManager"
		class="gov.epa.owm.mtb.cwns.costcurvevalidation.CCValidationManager"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
        <property name="costCurveService">
			<ref bean="costCurveService" />
		</property>
		<property name="populationService">
			<ref bean="populationService" />
		</property>
	</bean>
	
	<bean id="costCurveValidatorFactory"
		class="gov.epa.owm.mtb.cwns.costcurvevalidation.CostCurveValidatorFactory"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
        <property name="facilityCCValidator">
			<ref bean="facilityCCValidator" />
		</property>
        <property name="locationCCValidator">
			<ref bean="locationCCValidator" />
		</property>
		
        <property name="populationCCValidator">
			<ref bean="populationCCValidator" />
		</property>		
        <property name="flowCCValidator">
			<ref bean="flowCCValidator" />
		</property>
        <property name="effluentCCValidator">
			<ref bean="effluentCCValidator" />
		</property>
        <property name="dischargeCCValidator">
			<ref bean="dischargeCCValidator" />
		</property>
        <property name="combinedSewerCCValidator">
			<ref bean="combinedSewerCCValidator" />
		</property>
        <property name="needsCCValidator">
			<ref bean="needsCCValidator" />
		</property>
	</bean>
	
	<bean id="facilityCCValidator"
		class="gov.epa.owm.mtb.cwns.costcurvevalidation.FacilityCCValidator"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="costCurveService">
			<ref bean="costCurveService" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
		<property name="facilityTypeService">
			<ref bean="facilityTypeService" />
		</property>
		<property name="populationService">
			<ref bean="populationService" />
		</property>
		<property name="dischargeService">
			<ref bean="dischargeService" />
		</property>
		<property name="flowService">
			<ref bean="flowService" />
		</property>
	</bean>
	
	<bean id="locationCCValidator"
		class="gov.epa.owm.mtb.cwns.costcurvevalidation.LocationCCValidator"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
		<property name="costCurveService">
			<ref bean="costCurveService" />
		</property>
	</bean>	
	
	<bean id="populationCCValidator"
		class="gov.epa.owm.mtb.cwns.costcurvevalidation.PopulationCCValidator"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="populationService">
			<ref bean="populationService" />
		</property>
		<property name="costCurveService">
			<ref bean="costCurveService" />
		</property>
	</bean>
	
	<bean id="flowCCValidator"
		class="gov.epa.owm.mtb.cwns.costcurvevalidation.FlowCCValidator"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="flowService">
			<ref bean="flowService" />
		</property>
		<property name="populationService">
			<ref bean="populationService" />
		</property>
		<property name="dischargeService">
			<ref bean="dischargeService" />
		</property>
		<property name="costCurveService">
			<ref bean="costCurveService" />
		</property>						
	</bean>
	
	<bean id="effluentCCValidator"
		class="gov.epa.owm.mtb.cwns.costcurvevalidation.EffluentCCValidator"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="effluentService">
			<ref bean="effluentService" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
		<property name="costCurveService">
			<ref bean="costCurveService" />
		</property>
	</bean>	
	
	<bean id="dischargeCCValidator"
		class="gov.epa.owm.mtb.cwns.costcurvevalidation.DischargeCCValidator"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="dischargeService">
			<ref bean="dischargeService" />
		</property>
		<property name="populationService">
			<ref bean="populationService" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
		<property name="costCurveService">
			<ref bean="costCurveService" />
		</property>					
	</bean>	
	
	<bean id="combinedSewerCCValidator"
		class="gov.epa.owm.mtb.cwns.costcurvevalidation.CombinedSewerCCValidator"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="csoService">
			<ref bean="csoService" />
		</property>
		<property name="costCurveService">
			<ref bean="costCurveService" />
		</property>		
	</bean>
	
	<bean id="needsCCValidator"
		class="gov.epa.owm.mtb.cwns.costcurvevalidation.NeedsCCValidator"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="needsService">
			<ref bean="needsService" />
		</property>
		<property name="costCurveService">
			<ref bean="costCurveService" />
		</property>		
	</bean>	
	
	
	<!-- Permits Service -->
	<bean id="facilityPermitService"
		class="gov.epa.owm.mtb.cwns.service.impl.FacilityPermitServiceImpl"
		abstract="false" singleton="true" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="searchDAO">
			<ref bean="searchDAO" />
		</property>
		<property name="facilityService">
			<ref bean="facilityService" />
		</property>
		<property name="facilityAddressService">
			<ref bean="facilityAddressService" />
		</property>
		<property name="pocService">
			<ref bean="pocService" />
		</property>
	</bean>	
	
	<bean id="npdesPermitService"
	     class="gov.epa.owm.mtb.cwns.service.impl.NpdesPermitServiceImpl"
	     abstract="false" singleton="true" lazy-init="default"
		 autowire="default" dependency-check="default">
		 <property name="searchDAO">
		   <ref bean="searchDAO"/>
		 </property>
	</bean>	
	
</beans>